/* Agency */
body.css-agency,
.css-agency p,
.css-agency h1,
.css-agency h2,
.css-agency h3,
.css-agency h4,
.css-agency h5,
.css-agency h6,
.css-agency .featured-content h1.small,
.css-agency .form-group > label,
.css-agency .checkbox > label,
.css-agency .alert > p,
.css-agency .block-content-wrapper h2,
.css-agency .intro-text h1, .intro-text h2,
.css-agency .intro-text h3, .intro-text h4,
.css-agency .intro-text h5, .intro-text h6,
.css-agency .restaurant-info-img-content h4,
.css-agency .contact-title h3 {
  font-family: "Raleway", sans-serif;
}

.css-agency h1, .css-agency h2, .css-agency h3, .css-agency h4, .css-agency h5, .css-agency h6 {
  font-family: "Raleway", sans-serif;
}

.css-agency .color-1 {
  color: #0cb4ce;
}

.css-agency .background-1,
.css-agency .animation-box.background-1:hover .animation-box-style-2.background-1:hover,
.css-agency .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-background-1,
.css-agency .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-background-1, a.brand-modern span.line-1 {
  background-color: #0cb4ce;
}

.css-agency .color-2 {
  color: #e85241;
}

.css-agency .background-2,
.css-agency .animation-box.background-2:hover .animation-box-style-2.background-2:hover,
.css-agency .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-background-2,
.css-agency .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-background-2, a.brand-modern span.line-2 {
  background-color: #e85241;
}

.css-agency .color-3 {
  color: #9176bd;
}

.css-agency .background-3,
.css-agency .animation-box.background-3:hover .animation-box-style-2.background-3:hover,
.css-agency .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-background-3,
.css-agency .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-background-3, a.brand-modern span.line-3,
.css-agency .blog-desc-details:after {
  background-color: #9176bd;
}

.css-agency .call-to-action {
  background-color: transparent !important;
}

.css-agency .tp-caption .btn-default,
.css-agency .btn-default,
.css-agency .flex-control-paging li a.flex-active,
.css-agency .navbar-toggle,
.css-agency #mobile-navbar,
.css-agency .offscreen-container,
.css-agency .maincolor-background,
.css-agency ul.widget-ul li a > span,
.css-agency ul.widget-social li a:hover,
.css-agency #people .item .info,
.css-agency .main-color,
.css-agency .flexslider.clients .flex-control-paging li a.flex-active,
.css-agency #portfolio-filter li a:after,
.css-agency .navbar.banner--clone .nav li.active > a,
.css-agency .pagination-box .pager li a,
.css-agency .pricing-table-column.special-price-table .pricing-table-head,
.css-agency .pricing-table-column.special-price-table .pricing-table-content,
.css-agency .shop-list .shop-product .shop-button-box .addtocart-button,
.css-agency .tags-cloud-list li a:hover,
.css-agency .progress-bar-box .progress-bar,
.css-agency .background-1,
.css-agency .selecter .selecter-item:hover,
.css-agency .selecter .selecter-item.selected:hover,
.css-agency #footer.colored,
.css-agency section.about-counter,
.css-agency .error-page-title:after,
.css-agency .tabpanel-style-4 .nav-tabs > li.active > a,
.css-agency .tabpanel-style-4 .nav-tabs > li > a:hover,
.css-agency .tabpanel-style-4 .nav-tabs > li.active > a:focus,
.css-agency .tabpanel-style-4 .nav-tabs > li.active > a:hover,
.css-agency .tabpanel-style-4 .tab-content h3:after,
.css-agency .about-classic-column-themecolor,
.css-agency .selecter .selecter-item:hover,
.css-agency .selecter .selecter-item.selected:hover,
.css-agency .item-text-wrapper_overlay,
.css-agency .tabpanel-style-sidenav ul.nav-tabs > li a:active,
.css-agency .tabpanel-style-sidenav ul.nav-tabs > li a:hover,
.css-agency .tabpanel-style-sidenav ul.nav-tabs > li.active a,
.css-agency .shop-type-2 a.add-to-cart-item,
.css-agency .banner--clone.banner--stick .btn-cart .header-cart-count,
.css-agency .navbar-2 .btn-cart .header-cart-count,
.css-agency .tabpanel-style-2 .nav-tabs > li.active > a,
.css-agency .tabpanel-style-2 .nav-tabs > li.active > a:focus,
.css-agency .tabpanel-style-2 .nav-tabs > li.active > a:hover,
.css-agency .withmaincolor .testimonials-slider .flex-control-nav li a,
.css-agency .withmaincolor .testimonials-slider .testimonials-slider-box .testimonial-image,
.css-agency .dropcap.dropcap-style-2,
.css-agency .alert-default,
.css-agency blockquote:before,
.css-agency blockquote:after,
.css-agency .tp-caption .btn-default,
.css-agency .btn-default,
.css-agency .content-title h5:before,
.css-agency .content-title h5:after,
.css-agency .icon-box.icon-fill .icon-block,
.css-agency .icon-box.icon-square:hover .icon-block,
.css-agency .icon-box.icon-circle:hover .icon-block,
.css-agency .icon-box.icon-square:hover .icon-block span,
.css-agency .icon-box.icon-circle:hover .icon-block span,
.css-agency .icon-type.it-main-color:hover,
.css-agency .icon-type.it-main-color:focus,
.css-agency .icon-type.it-main-color-reverse,
.css-agency .icon-type.it-main-color:hover span,
.css-agency .icon-type.it-main-color-reverse:hover span,
.css-agency .add-to-cart-form .count-input .count-plus:hover,
.css-agency .add-to-cart-form .count-input .count-minus:hover,
.css-agency .pricing-table-column-2.special-price-table .pricing-table-head,
.css-agency .pricing-table-container.special-price-table,
.css-agency .pricing-table-column-2.special-price-table .pricing-table-content-2,
.css-agency .header-white .navbar-2 .btn-cart .header-cart-count,
.css-agency ul.forum-list li.forum-header,
.css-agency .textbox-withmaincolor,
.css-agency .background-1,
.css-agency .team-member-job,
.css-agency .team-section .team-desc-box:before,
.css-agency .team-section .team-desc-box:after,
.css-agency .shop-categories:hover .shop-title-categories,
.css-agency .content-divider-colored-bg [class^="icon-"],
.css-agency .overlay-animation-6 .content-box,
.css-agency .block-content-wrapper h1,
.css-agency .benefits-box h1,
.css-agency .selecter .selecter-item:hover,
.css-agency .selecter .selecter-item.selected:hover,
.css-agency .ui-slider .ui-slider-range,
.css-agency #header.header-main-color,
.css-agency .navbar-2.banner--clone.main-color-navbar,
.css-agency .tabpanel-style-center .nav-tabs > li.active > a,
.css-agency .tabpanel-style-center1 .nav-tabs > li.active > a:focus,
.css-agency .tabpanel-style-center .nav-tabs > li.active > a:hover,
.css-agency .label.label-primary,
.css-agency .label.label-primary,
.css-agency .star-rating .caption .label,
.css-agency .tparrows.preview5:hover,
.css-agency .table-style-4.table-withmaincolor thead tr th,
.css-agency .table-style-5.table-withmaincolor thead tr th,
.css-agency .table-style-6.table-withmaincolor thead tr th,
.css-agency .table-style-6.table-withmaincolor.table-striped > tbody > tr:nth-of-type(odd):hover,
.css-agency .table-style-7.table-withmaincolor thead tr th,
.css-agency .table-style-7.table-withmaincolor tbody tr:last-child th,
.css-agency .table-style-7.table-withmaincolor tbody tr:last-child td,
.css-agency .table-withmaincolor.table-hover > tbody > tr:hover,
.css-agency .table-style-2.table-withmaincolor thead tr th,
.css-agency .table-style-3.table-withmaincolor thead tr th,
.css-agency .table-style-3.table-withmaincolor tbody tr th,
.css-agency .parallax-withmaincolor,
.css-agency .contact-overlay-map .minimize-form:hover,
.css-agency .team-3:hover .team-social,
.css-agency .team-5:hover .team-social,
.css-agency .special-table-2,
.css-agency .special-table-3,
.css-agency span.pricing-3-discount,
.css-agency #vertical-timeline-container:before,
.css-agency .subscribe-fancy-themebg,
.css-agency .empty-cart,
.css-agency .team-4:hover .team-social,
.css-agency .content-divider-colored,
.css-agency .content-divider-colored-bg,
.css-agency .withmainbackground,
.css-agency .services-2-heading,
.css-agency .icon-box-2-effect-4 .icon-block-2,
.css-agency .services-2-heading,
.css-agency .promotion-box-theme-colored,
.css-agency .promotion-box-theme-colored .promotion-box-title h4,
.css-agency .icon-block-2,
.css-agency .icon-box-2-effect-2:hover .icon-block-2,
.css-agency .icon-box-2-effect-3 .icon-block-2:after,
.css-agency .icon-box-2-effect-4 .icon-block-2:after,
.css-agency .icon-box-2-effect-6 .icon-block-2,
.css-agency .icon-box-2-effect-6:hover .icon-block-2,
.css-agency .simple-icon-icon,
.css-agency a.call-to-action-link:hover,
.css-agency .add-to-cart-form .count-input .count-plus,
.css-agency .add-to-cart-form .count-input .count-minus,
.css-agency .tabpanel-style-5 .nav-tabs > li > a:active,
.css-agency .tabpanel-style-5 .nav-tabs > li.active > a:focus,
.css-agency .tabpanel-style-5 .nav-tabs > li.active > a,
.css-agency .tabpanel-style-5 .nav-tabs > li.active > a:active,
.css-agency .tabpanel-style-6 .nav-tabs > li > a:active,
.css-agency .tabpanel-style-6 .nav-tabs > li.active > a:focus,
.css-agency .tabpanel-style-6 .nav-tabs > li.active > a,
.css-agency .tabpanel-style-6 .nav-tabs > li.active > a:active,
.css-agency .special-price-box,
.css-agency .dropdown-menu > .active > a,
.css-agency .dropdown-menu > .active > a:focus,
.css-agency .dropdown-menu > .active > a:hover,
.css-agency #header.main-color-nav .navbar-2,
.css-agency .latest-post-data,
.css-agency .blog-single-post .bsp-heading h1,
.css-agency .testimonial-single .slick-dots li button:before,
.css-agency .slick-dots li button:before,
.css-agency .blog-list > article.default-post .blog-post-2 .bp2-category,
.css-agency .timeline-complete .timeline-status.timeline-active:before,
.css-agency .megamenu.maincolor,
.css-agency .dropdown.maincolor ul,
.css-agency .dropdown.maincolor ul.dropdown-menu,
.css-agency #footer.maincolor,
.css-agency #copyrights.maincolor,
.css-agency .no-touch .cd-horizontal-timeline .events a:hover::after,
.css-agency .cd-horizontal-timeline .events a.selected::after,
.css-agency .cd-horizontal-timeline .filling-line,
.css-agency .pinpulsebox span,
.css-agency .main-color-dropdown .megamenu,
.css-agency .main-color-dropdown .dropdown-menu,
.css-agency #cd-timeline::before,
.css-agency ul.icon-list.il-main-bg li [class^="icon-"],
.css-agency .process-steps ul li.current a .number,
.css-agency ol.ordered-list.ol-main-bg li:before,
.css-agency .irs-bar,
.css-agency .irs-from,
.css-agency .irs-to,
.css-agency .irs-single,
.css-agency .open > .dropdown-toggle.btn-default,
.css-agency .fc-unthemed .fc-today,
.css-agency .fc-content,
.css-agency #particles-js,
.css-agency .s-icon:hover,
.css-agency #progressbar li.active:before,
.css-agency #progressbar li.active:after,
.css-agency .pagination > .active > a,
.css-agency .pagination > .active > a:focus,
.css-agency .pagination > .active > a:hover,
.css-agency .pagination > .active > span,
.css-agency .pagination > .active > span:focus,
.css-agency .pagination > .active > span:hover,
.css-agency .portfolio-filter .selecter-item.activeFilter,
.css-agency .page-loader-spinner span,
.css-agency .loader-6:before,
.css-agency .loader-2,
.css-agency .loader-2:before,
.css-agency .loader-2:after,
.css-agency .loader-10 > div, 
.css-agency .loader-11 > div,
.css-agency .loader-13 > div:first-child, 
.css-agency .loader-14 > div, 
.css-agency .loader-16 > div, 
.css-agency .loader-17 > div, 
.css-agency .loader-17 > div:before, 
.css-agency .loader-17 > div:after, 
.css-agency .loader-18 > div, 
.css-agency .loader-19 > div, 
.css-agency .loader-20 > div, 
.css-agency .loader-22 > div, 
.css-agency .loader-23 > div, 
.css-agency .loader-24 > div, 
.css-agency .loader-25 > div, 
.css-agency .loader-26 > div, 
.css-agency .loader-27 > div, 
.css-agency .loader-28 > div, 
.css-agency .loader-29 > div, 
.css-agency .loader-32 > div, 
.css-agency .loader-33 > div, 
.css-agency .loader-35 > div:nth-child(3), 
.css-agency .loader-35 > div:nth-child(4), 
.css-agency .loader-35 > div:nth-child(5),
.css-agency .loader-35 > div:nth-child(6), 
.css-agency .loader-37 > div, 
.css-agency .loader-38 > div,
.css-agency .checkbox input[type=checkbox]:checked + .checkbox-material .check, 
.css-agency .radio input[type=radio]:checked ~ .check, 
.css-agency .vlt-btn-group .dropdown-menu li a:hover, 
.css-agency .gsi-step-indicator.triangle li.current>*, 
.css-agency .gsi-style-4 li.current>*, 
.css-agency .gsi-style-5 li.current>*, 
.css-agency .gsi-style-6 li.current>* .number, 
.css-agency .gsi-style-7 li.current:hover>*, 
.css-agency .gsi-style-8 li.visited>*, 
.css-agency .gsi-style-8 li.current>*, 
.css-agency .gsi-style-9 li.visited>*:after, 
.css-agency .gsi-style-9 li.current>*:after, 
.css-agency .gsi-style-10 li.visited>*:after, 
.css-agency .gsi-style-10 li.current>*:after, 
.css-agency .gsi-style-11 li.current:before, 
.css-agency .gsi-style-11 li.current:after, 
.css-agency .gsi-style-11 li.visited:before, 
.css-agency .gsi-style-11 li.visited:after, 
.css-agency .gsi-style-11 li.visited>*:after, 
.css-agency .gsi-style-11 li.current>*:after, 
.css-agency .flatpickr-day.today:focus, 
.css-agency .flatpickr-day.today:hover {
  background-color: #0cb4ce;
}

.css-agency .header-content .phone-number span,
.css-agency .intro-block h6,
.css-agency .icon-block [class^="icon-"],
.css-agency ul.header-links li a:hover,
.css-agency .navbar.banner--clone .nav > li > a:hover,
.css-agency .navbar.banner--clone .btn-search:hover,
.css-agency .success-lg:hover [class^="icon-"],
.css-agency #copyrights ul li a:hover,
.css-agency #copyrights a:hover,
.css-agency .breadcrumb > .active,
.css-agency #portfolio-filter li a.activeFilter,
.css-agency #portfolio-filter li a:hover,
.css-agency .item-text-wrapper_normal .portfolio-item-title a:hover,
.css-agency a.image_zoom:hover [class^="icon-"],
.css-agency a.image_link:hover [class^="icon-"],
.css-agency a.load-more-btn:hover,
.css-agency a.load-more-btn:hover [class^="icon-"],
.css-agency .intro-block h1 [class^="icon-"],
.css-agency .shop-list .shop-product h4 a:hover,
.css-agency ul#portfolio-layout-filter li a.active,
.css-agency .item-text-wrapper_normal .portfolio-item-category a:hover,
.css-agency ul.sidebar-shop-cat > li span,
.css-agency .shop-price,
.css-agency ul.sidebar-shop-cat > li > a:hover,
.css-agency a.load-more-btn:hover,
.css-agency a.load-more-btn:hover [class^="icon-"],
.css-agency .intro-block h1 [class^="icon-"],
.css-agency .shop-list .shop-product h4 a:hover,
.css-agency ul#portfolio-layout-filter li a.active,
.css-agency .item-text-wrapper_normal .portfolio-item-category a:hover,
.css-agency ul.sidebar-cat > li span,
.css-agency .shop-price,
.css-agency ul.sidebar-cat > li > a:hover,
.css-agency ul.jobs-list li [class^="icon-"],
.css-agency .team-social a:hover,
.css-agency .icon-default,
.css-agency .error-page-icon span [class^="icon-"],
.css-agency .footer-3-container-text a:hover,
.css-agency .testimonials-box .testimonial-author,
.css-agency #page-title.image-page-title-fullwidth h1,
.css-agency #page-title.image-page-title-left.image-page-noimage h2,
.css-agency ul.services-2-icons,
.css-agency ul.shop-layout-filter li a.active,
.css-agency ul.portfolio-layout-filter li a.active,
.css-agency ul.porfolio-project-details-list > li .ppd-right,
.css-agency ul.porfolio-project-details-list > li .ppd-right a:hover,
.css-agency .related-projects-title .slick-custom-next:hover,
.css-agency .related-projects-title .slick-custom-prev:hover,
.css-agency .recent-post-content a:hover,
.css-agency .form-group.login-form-submit a,
.css-agency .shop-type-1 a.add-to-cart-item:before,
.css-agency .shop-type-2 a.add-to-cart-item:before,
.css-agency a.form-forgotpass,
.css-agency .sidebar-shop-products-list li .ssp-title:hover,
.css-agency .restaurant-info ul li [class^="icon-"],
.css-agency .navbar-default.default .btn-cart .header-cart-count,
.css-agency .cart-shop-products-list li .csp-title:hover,
.css-agency .blog-list > article .blog-desc h4 a:hover,
.css-agency .blog-list > article .blog-desc h4 a:focus,
.css-agency .blog-list-full > article .blog-desc h4 a:hover,
.css-agency .blog-list-full > article .blog-desc h4 a:focus,
.css-agency .blog-list > article .blog-desc .blog-desc-details a:hover,
.css-agency .blog-list > article .blog-desc .blog-desc-details a:focus,
.css-agency .blog-list-full > article .blog-desc .blog-desc-details a:hover,
.css-agency .blog-list-full > article .blog-desc .blog-desc-details a:focus,
.css-agency .single-post > article .blog-desc .blog-desc-details a:hover,
.css-agency .single-post > article .blog-desc .blog-desc-details a:focus,
.css-agency .blog-list > article .blog-desc .btn-breadmore:hover,
.css-agency .blog-list > article .blog-desc .btn-breadmore:focus,
.css-agency .blog-list-full > article .blog-desc .btn-breadmore:hover,
.css-agency .blog-list-full > article .blog-desc .btn-breadmore:focus,
.css-agency .blog-masonry > article .blog-desc h4 a:hover,
.css-agency .blog-masonry > article .blog-desc h4 a:focus,
.css-agency .blog-masonry > article .blog-desc .blog-desc-details a:hover,
.css-agency .blog-masonry > article .blog-desc .blog-desc-details a:focus,
.css-agency .comment_response .media h6 a,
.css-agency .comment_response .media_cloud a.reply_link,
.css-agency .tabpanel-style-1 .nav-tabs > li.active > a:focus,
.css-agency .tabpanel-style-1 .nav-tabs > li.active > a:hover,
.css-agency .tabpanel-style-3 .nav-tabs > li.active > a,
.css-agency .tabpanel-style-3 .nav-tabs > li.active > a:focus,
.css-agency .tabpanel-style-3 .nav-tabs > li.active > a:hover,
.css-agency .dropcap.dropcap-style-1,
.css-agency .icon-box.icon-square.icon-fill:hover .icon-block [class^="icon-"],
.css-agency .icon-box.icon-circle.icon-fill:hover .icon-block [class^="icon-"],
.css-agency .counter-box .count-icon,
.css-agency .counter-style-1 .counter-box h4,
.css-agency .icon-type,
.css-agency .icon-type.it-main-color,
.css-agency .icon-type.it-main-color-reverse:hover,
.css-agency .icon-type.it-main-color-reverse:focus,
.css-agency .shop-single-page .review_response .review-title .shop-star-rating li.full-star,
.css-agency .comment_response .media h6 a,
.css-agency .comment_response .media_cloud a.reply_link,
.css-agency .tabpanel-style-1 .nav-tabs > li.active > a:focus,
.css-agency .tabpanel-style-1 .nav-tabs > li.active > a:hover,
.css-agency .tabpanel-style-3 .nav-tabs > li.active > a,
.css-agency .tabpanel-style-3 .nav-tabs > li.active > a:focus,
.css-agency .tabpanel-style-3 .nav-tabs > li.active > a:hover,
.css-agency .dropcap.dropcap-style-1,
.css-agency .btn-default-reverse,
.css-agency .icon-box.icon-square.icon-fill:hover .icon-block [class^="icon-"],
.css-agency .icon-box.icon-circle.icon-fill:hover .icon-block [class^="icon-"],
.css-agency .counter-box .count-icon,
.css-agency .counter-style-1 .counter-box h4,
.css-agency .icon-type,
.css-agency .icon-type.it-main-color,
.css-agency .icon-type.it-main-color-reverse:hover [class^="icon-"],
.css-agency .icon-type.it-main-color-reverse:focus,
.css-agency .shop-single-page .review_response .review-title .shop-star-rating li.full-star,
.css-agency .review_response .media h6 a,
.css-agency .review_response .media_cloud .shop-star-rating li.full-star,
.css-agency .rating-container .rating-stars,
.css-agency .form-contact small,
.css-agency ul.icon-list li a:hover,
.css-agency ul.icon-list li a:active,
.css-agency ul.icon-list li a:focus,
.css-agency .checkout-sum,
.css-agency .checkout-table td a:hover,
.css-agency .checkout-box a,
.css-agency .user-profile-list ul li a:hover,
.css-agency a.profile-active,
.css-agency .user-profile-content h2,
.css-agency .forum-content-header span a,
.css-agency .recent-work-content a:hover,
.css-agency .recent-work-image-content a:hover,
.css-agency .contact-overlay-map .maximize-form:hover,
.css-agency .hero-slier-nav-content:hover [class^="icon-"],
.css-agency .selected .hero-slier-nav-content [class^="icon-"],
.css-agency .team-social a:hover,
.css-agency .team-name h5 a:hover,
.css-agency .clients-slick-nav .slick-custom-next:hover,
.css-agency .clients-slick-nav .slick-custom-prev:hover,
.css-agency .services-pricing-icon [class^="icon-"],
.css-agency .brand [class^="icon-"],
.css-agency .content-divider-colored [class^="icon-"],
.css-agency .divider-content h1 span,
.css-agency .divider-content h2 span,
.css-agency .divider-content h3 span,
.css-agency .intro-page-content a:hover,
.css-agency .image-box-content a:hover,
.css-agency .icon-type.it-main-color [class^="icon-"],
.css-agency .icon-type-2:hover p,
.css-agency .icon-type-2:hover span.icon-type-2-icon,
.css-agency .heading-container .head-colored,
.css-agency ul.home-6-list li h4 [class^="icon-"],
.css-agency .icon-box-2-effect-1:hover .icon-block-2,
.css-agency .icon-box-2-effect-3-reverse:hover .icon-block-2,
.css-agency .icon-box-2-effect-4:hover .icon-block-2,
.css-agency .icon-box-2-effect-4-reverse .icon-block-2,
.css-agency .icon-box-2-effect-5:hover .icon-block-2,
.css-agency .simple-icon-lightbg [class^="icon-"],
.css-agency .newsletter-signup button,
.css-agency a.add-to-wishlist.select,
.css-agency a.add-to-wishlist.select [class^="icon-"],
.css-agency .accordion-style-1 .panel-default > .panel-heading .panel-title a:hover,
.css-agency .panel-body ul li a:hover,
.css-agency .colored,
.css-agency .tabpanel-style-7 .nav-tabs > li.active > a,
.css-agency .tabpanel-style-6 .nav-tabs > li > a,
.css-agency .tabpanel-style-8 .nav-tabs > li.active > a,
.css-agency .tp_caption_big span,
.css-agency ul.icon-box-simple li:hover a,
.css-agency .testimonials-slick-nav .slick-testimonial-prev:hover [class^="icon-"],
.css-agency .testimonials-slick-nav .slick-testimonial-next:hover [class^="icon-"],
.css-agency .clients-slick-nav .slick-clients-prev:hover [class^="icon-"],
.css-agency .clients-slick-nav .slick-clients-next:hover [class^="icon-"],
.css-agency .blockquote-author p,
.css-agency .testimonial-author,
.css-agency .latest-post-content h1 a:hover,
.css-agency .post-by a:hover,
.css-agency .latest-post-content .read-more-link,
.css-agency .blog-horizontal .bh-content h3 a:hover,
.css-agency .blog-horizontal .bh-content .bh-details a:hover,
.css-agency .blog-horizontal .bh-content .bh-details a:hover span,
.css-agency a.bsp-title:hover,
.css-agency .sidebar-blog-post-list li .sbp-title:hover,
.css-agency .navbar-nav > li.active,
.css-agency .navbar-nav > li.active:hover,
.css-agency a.idb-social:hover,
.css-agency a.idb-social:hover span,
.css-agency a.idb-price,
.css-agency span.pts-raised,
.css-agency .bsp-social a:hover,
.css-agency .bsp-social a [class^="icon-"]:hover,
.css-agency a.bsp-more:hover,
.css-agency .blog-list > article .blog-image-box .video-play-icon:focus [class^="icon-"],
.css-agency .blog-list > article .blog-post-2 .bp2-desc h4 a:hover,
.css-agency .blog-list > article .blog-post-2 .bp2-desc h4 a:focus,
.css-agency .blog-list > article .blog-post-2 .bp2-desc .blog-desc-details a:hover,
.css-agency .blog-list > article .blog-post-2 .bp2-desc .blog-desc-details a:focus,
.css-agency .gallery-block .gallery-box .gallery-meta a:hover,
.css-agency .gallery-block .gallery-box .gallery-meta a:focus,
.css-agency .cd-timeline-inner-content a:hover,
.css-agency .testimonial-box .testimonial-author span,
.css-agency .fic-date a:hover,
.css-agency .forum-inner-content h1 a:hover,
.css-agency .user-profile-desc a:hover,
.css-agency .cd-timeline-navigation a:hover::after,
.css-agency .login-form .login-input-box [class^="icon-"],
.css-agency .icon-input-box [class^="icon-"],
.css-agency ul.icon-list.il-no-border.il-main-bg li [class^="icon-"],
.css-agency ul.bar-chart-graph li,
.css-agency ul.line-graph li,
.css-agency ul.donut-graph li,
.css-agency .tp-caption.Creative-SubTitle,
.css-agency .Creative-SubTitle,
.css-agency .tp-caption.vlt-hero-rotating,
.css-agency .pagination > li > a:focus,
.css-agency .pagination > li > a:hover,
.css-agency .pagination > li > span:focus,
.css-agency .pagination > li > span:hover,
.css-agency .pager li > a,
.css-agency ul.recent-post-widget .rp-post a:hover,
.css-agency .tp-tab.selected span.tp-tab-title span,
.css-agency .tp-tab.selected span.tp-tab-title,
.css-agency .zeus .tp-tab.selected:hover .tp-tab-title,
.css-agency .tp-main-color,
.css-agency .loader-5,
.css-agency .loader-7,
.css-agency .loader-9,
.css-agency .loader-2,
.css-agency .loader-4,
.css-agency .gsi-style-9 li.visited>*, 
.css-agency .gsi-style-9 li.current>*,
.css-agency .item-text-wrapper_normal .portfolio-item-title a:hover, 
.css-agency .item-text-wrapper_normal .portfolio-item-category a:hover  {
  color: #0cb4ce;
}

.css-agency .tp-caption .btn-default,
.css-agency .btn-default,
.css-agency .flex-control-paging li a.flex-active,
.css-agency .flexslider.clients .flex-control-paging li a.flex-active,
.css-agency .pagination-box .pager li a,
.css-agency .contact-info-3,
.css-agency .tags-cloud-list li a:hover,
.css-agency .team-social a:hover,
.css-agency .contact-title-one h3:after,
.css-agency .home-title-one h3:after,
.css-agency #login-form .login-input:active,
.css-agency #login-form .login-input:focus,
.css-agency .load-more-wrapper a.load-more-btn:hover,
.css-agency #register-form .register-input:active,
.css-agency #register-form .register-input:focus,
.css-agency .dropcap.dropcap-style-1,
.css-agency .dropcap.dropcap-style-2,
.css-agency .alert-default,
.css-agency blockquote,
.css-agency .tp-caption .btn-default,
.css-agency .btn-default,
.css-agency .btn-default-reverse,
.css-agency .icon-box.icon-square .icon-block,
.css-agency .icon-box.icon-circle .icon-block,
.css-agency .icon-type.it-main-color,
.css-agency .icon-type.it-main-color:hover,
.css-agency .icon-type.it-main-color:focus,
.css-agency .icon-type.it-main-color-reverse,
.css-agency .icon-type.it-main-color-reverse:hover,
.css-agency .icon-type.it-main-color-reverse:focus,
.css-agency .add-to-cart-form .count-input .count-plus:hover,
.css-agency .add-to-cart-form .count-input .count-minus:hover,
.css-agency #reviewmodal .modal-header,
.css-agency .job-left-title h3,
.css-agency .pricing-table-container.special-price-table,
.css-agency .clients-slick-nav .slick-custom-next:hover,
.css-agency .clients-slick-nav .slick-custom-prev:hover,
.css-agency a.add-to-wishlist.select,
.css-agency a.add-to-wishlist.select [class^="icon-"],
.css-agency .tabpanel-style-8 .nav-tabs > li.active,
.css-agency a.btn-default.btn-animation-icon-box,
.css-agency .btn-default.btn-animation-icon-box:hover,
.css-agency .btn-default.btn-animation-icon-box:focus,
.css-agency .btn-default.btn-animation-icon-box:active,
.css-agency .tp-caption a.btn-default.btn-animation-icon-box,
.css-agency .tp-caption .btn-default.btn-animation-icon-box:hover,
.css-agency .tp-caption .btn-default.btn-animation-icon-box:focus,
.css-agency .tp-caption .btn-default.btn-animation-icon-box:active,
.css-agency .testimonials-slick-nav .slick-testimonial-prev:hover,
.css-agency .testimonials-slick-nav .slick-testimonial-next:hover,
.css-agency .clients-slick-nav .slick-clients-prev:hover,
.css-agency .clients-slick-nav .slick-clients-next:hover,
.css-agency .bsp-image,
.css-agency .blog-list > article.default-post .blog-desc,
.css-agency .testimonial-single li.slick-active button::before,
.css-agency .slick-dots li.slick-active button:before,
.css-agency .blog-list > article.default-post .blog-post-2 .bp2-desc,
.css-agency .blog-list > article .blog-desc .btn-breadmore:hover,
.css-agency .blog-list > article .blog-desc .btn-breadmore:focus,
.css-agency .timeline-status.timeline-active:before,
.css-agency .cd-horizontal-timeline .events a.older-event::after,
.css-agency .cd-horizontal-timeline .events a.selected::after,
.css-agency .no-touch .cd-horizontal-timeline .events a:hover::after,
.css-agency .no-touch .cd-timeline-navigation a:hover,
.css-agency .cd-bg-image:hover .video-play-icon [class^="icon-"],
.css-agency .cd-timeline-navigation a:hover,
.css-agency .tabpanel-style-1 .nav-tabs > li.active > a,
.css-agency .tabpanel-style-1 .nav-tabs > li.active > a:focus,
.css-agency .tabpanel-style-1 .nav-tabs > li.active > a:hover,
.css-agency .login-form input:focus,
.css-agency .pinpulse,
.css-agency .open > .dropdown-toggle.btn-default,
.css-agency .pagination > .active > a,
.css-agency .pagination > .active > a:focus,
.css-agency .pagination > .active > a:hover,
.css-agency .pagination > .active > span,
.css-agency .pagination > .active > span:focus,
.css-agency .pagination > .active > span:hover,
.css-agency .table-style-1 thead tr th,
.css-agency .table-style-1 tbody tr:last-child th,
.css-agency .table-style-1 tbody tr:last-child td,
.css-agency .table-withmaincolor thead tr th,
.css-agency .clients-title-border h3,
.css-agency .cd-slider-nav li:hover,
.css-agency .selected,
.css-agency .job-form input:focus,
.css-agency .job-form select:focus,
.css-agency .job-form textarea:focus,
.css-agency .form-contact input:focus,
.css-agency .form-contact select:focus,
.css-agency .form-contact textarea:focus,
.css-agency .form-contact input:focus,
.css-agency .icon-type-2:hover p,
.css-agency .icon-type-2:hover span.icon-type-2-icon,
.css-agency .icon-type-2:hover span.icon-type-2-icon [class^="icon-"],
.css-agency .activeFilter,
.css-agency .loader-30 > div, 
.css-agency .loader-31 > div, 
.css-agency .loader-35 > div:first-of-type, 
.css-agency .loader-35 > div:nth-child(2),
.css-agency .loader-12 > div,
.css-agency .loader-15 > div,
.css-agency .loader-21 > div,
.css-agency .radio input[type=radio]:checked ~ .circle, 
.css-agency .gsi-step-indicator.triangle li.current>*, 
.css-agency .gsi-style-7.border-right li.current>*, 
.css-agency .gsi-style-7.border-bottom li.current>*, 
.css-agency .gsi-style-7.border-left li.current>*, 
.css-agency .flatpickr-day.today, 
.css-agency .flatpickr-day.today:focus, 
.css-agency .flatpickr-day.today:hover {
  border-color: #0cb4ce;
}

.css-agency .tabpanel-style-4 .nav-tabs > li.active,
.css-agency .tabpanel-style-4 .nav-tabs > li.active > span,
.css-agency .tabpanel-style-5 .nav-tabs > li.active,
.css-agency .tabpanel-style-5 .nav-tabs > li.active > span {
  border-color: #0cb4ce transparent;
}

.css-agency .icon-box-2-effect-3 .icon-block-2 {
  box-shadow: 0 0 0 3px #0cb4ce;
}

.css-agency .icon-box-2-effect-4 .icon-block-2,
.css-agency .icon-box-2-effect-5 .icon-block-2,
.css-agency .icon-box-2-effect-5:hover .icon-block-2,
.css-agency .icon-box-2-effect-1 .icon-block-2:after,
.css-agency .icon-box-2-effect-2 .icon-block-2:after {
  box-shadow: 0 0 0 4px #0cb4ce;
}

.css-agency .icon-box-2-effect-6 .icon-block-2:after {
  box-shadow: 0 0 0 2px #0cb4ce;
}

.css-agency .empty-cart:after, .css-agency .loader-34 > div  {
  border-bottom-color: #0cb4ce;
}

.css-agency .btn-default-reverse:hover,
.css-agency .btn-default-reverse:focus {
  background-color: #0cb4ce !important;
  border-color: #0cb4ce !important;
}

.css-agency .tp-caption .btn-default.active,
.css-agency .btn-default.active,
.css-agency .tp-caption .btn-default.focus,
.css-agency .btn-default.focus,
.css-agency .tp-caption .btn-default:active,
.css-agency .btn-default:active,
.css-agency .tp-caption .btn-default:focus,
.css-agency .btn-default:focus,
.css-agency .tp-caption .btn-default:hover,
.css-agency .btn-default:hover,
.css-agency .tp-caption .btn-white:hover,
.css-agency .btn-white:hover {
  background-color: #0ba8c0 !important;
  border-color: #0ba8c0 !important;
}

.css-agency .metis .tp-tab.selected .tp-tab-divider {
  border-right-color: #0cb4ce;
}

.css-agency #header.header-white .navbar-2 .navbar-nav > li > a:before,
.css-agency #header.header-dark .navbar-2 .navbar-nav > li > a:before,
.css-agency #header.header-white-transparent .navbar-2 .navbar-nav > li > a:before,
.css-agency #header.header-dark-transparent .navbar-2 .navbar-nav > li > a:before,
.css-agency #header.header-white-sticky .navbar-2 .navbar-nav > li > a:before,
.css-agency #header.header-dark-sticky .navbar-2 .navbar-nav > li > a:before,
.css-agency #header.header-white-transparent-sticky .navbar-2 .navbar-nav > li > a:before,
.css-agency #header.header-dark-transparent-sticky .navbar-2 .navbar-nav > li > a:before {
  background-color: #0cb4ce;
}

.css-agency #header.header-main-color .navbar-2 .navbar-nav > li > a:before,
.css-agency #header.header-main-color-sticky .navbar-2 .navbar-nav > li > a:before,
.css-agency span.latest-post-month,
.css-agency .main-color-dropdown .dropdown-menu .dropdown-menu,
.css-agency .main-color-dropdown .dropdown-menu .dropdown-menu .dropdown-menu {
  background-color: #0ba8c0;
}

.css-agency #header.header-white .navbar-2 .search-navbar .btn-search:hover,
.css-agency #header.header-white .navbar-2 .search-navbar .btn-cart:hover,
.css-agency #header.header-dark .navbar-2 .search-navbar .btn-search:hover,
.css-agency #header.header-dark .navbar-2 .search-navbar .btn-cart:hover,
.css-agency #header.header-white-transparent .navbar-2 .search-navbar .btn-search:hover,
.css-agency #header.header-white-transparent .navbar-2 .search-navbar .btn-cart:hover,
.css-agency #header.header-dark-transparent .navbar-2 .search-navbar .btn-search:hover,
.css-agency #header.header-dark-transparent .navbar-2 .search-navbar .btn-cart:hover,
.css-agency #header.header-dark-sticky.header-sticky .navbar-2 .search-navbar .btn-search:hover,
.css-agency #header.header-dark-sticky.header-sticky .navbar-2 .search-navbar .btn-cart:hover,
.css-agency #header.header-white-transparent-sticky.header-sticky .navbar-2 .search-navbar .btn-search:hover,
.css-agency #header.header-white-transparent-sticky.header-sticky .navbar-2 .search-navbar .btn-cart:hover,
.css-agency #header.header-dark-transparent-sticky.header-sticky .navbar-2 .search-navbar .btn-search:hover,
.css-agency #header.header-dark-transparent-sticky.header-sticky .navbar-2 .search-navbar .btn-cart:hover,
.css-agency #header.header-main-color .navbar-2 .search-navbar .btn-search:hover,
.css-agency #header.header-main-color .navbar-2 .search-navbar .btn-cart:hover,
.css-agency #header.header-main-color-sticky.header-sticky .navbar-2 .search-navbar .btn-search:hover,
.css-agency #header.header-main-color-sticky.header-sticky .navbar-2 .search-navbar .btn-cart:hover {
  background: #0ba8c0;
  border-color: #0ba8c0;
}

.css-agency #header.header-main-color .navbar-2 .navbar-nav > li.active,
.css-agency #header.main-color-nav .navbar-2 .navbar-nav > .active > a {
  background-color: #0ba8c0;
}

.css-agency .background-1 .counter-style-1 .counter-box h4 {
  color: #ffffff !important;
}

.css-agency .item-text-wrapper,
.css-agency .standard_hover .portfolio_overlay,
.css-agency .overlay-animation-1 .overlay_box,
.css-agency .overlay-animation-2 .overlay_box,
.css-agency .flip-hover .flip-box .content-box,
.css-agency .team-8 .team-image .overlay-team-box,
.css-agency .team-9 .team-image .overlay-team-box,
.css-agency .portfolio-animation-slide .sliding-content {
  background-color: rgba(12, 180, 206, 0.9);
}

.css-agency .table-style-5.table-withmaincolor tbody tr td:nth-child(2),
.css-agency .team-2 .overlay-team-box,
.css-agency .team-6 .overlay-team-box,
.css-agency .team-7 .overlay-team-box,
.css-agency .table-style-6.table-withmaincolor.table-striped > tbody > tr:nth-of-type(odd),
.css-agency .contact-overlay-map .overlay-map-background,
.css-agency .table-style-7.table-withmaincolor.table-striped > tbody > tr:nth-of-type(odd),
.css-agency .table-style-7.table-withmaincolor tbody tr th,
.css-agency .table-style-2.table-withmaincolor tbody tr,
.css-agency .fc-bgevent,
.css-agency #particles-js.background-1 {
  background-color: rgba(12, 180, 206, 0.6) !important;
}

.css-agency .widget-dribbble-box .shots li a:hover:before, .css-agency .dribbble-box .shots li a:hover:before,
.css-agency .instagram-widget a:hover:before {
  background-color: rgba(12, 180, 206, 0.85);
}

.css-agency .search-popup-box,
.css-agency .scroll-to-top-fixed {
  background-color: rgba(12, 180, 206, 0.95);
}

.css-agency .background-2 .testimonial-single .slick-dots li button::before,
.css-agency .background-2 .slick-dots li button::before,
.css-agency .background-1 .testimonial-single .slick-dots li button::before,
.css-agency .background-1 .slick-dots li button::before,
.css-agency .background-3 .testimonial-single .slick-dots li button::before,
.css-agency .background-3 .slick-dots li button::before,
.css-agency .gray-background .testimonial-single .slick-dots li button::before,
.css-agency .gray-background-3 .slick-dots li button::before {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.css-agency .gsi-style-4 li.current>* .number:before{
  border-left-color: #0cb4ce;
}
.css-agency .gsi-style-7.border-top li.current>*{
  border-top-color: #0cb4ce;
}
.css-agency .loader-3 {
  border-top-color: rgba(12, 180, 206, 0.2);
  border-right-color: rgba(12, 180, 206, 0.2);
  border-bottom-color: rgba(12, 180, 206, 0.2);
  border-left-color: #4768F3;
}

.css-agency #header.header-white .navbar-2 .search-navbar .btn-search:hover,
.css-agency #header.header-white .navbar-2 .search-navbar .btn-cart:hover {
  color: rgba(255, 255, 255, 0.85) !important;
  border-color: transparent !important;
}

.css-agency .icon-box.icon-fill:hover .icon-block,
.css-agency .icon-box.icon-fill:hover .icon-block [class^="icon-"] {
  background-color: transparent !important;
}

.css-agency .cart-shop-products h3, .css-agency .cart-shop-products .total-bottom-cart .total-cart-price span,
.css-agency .cart-shop-products-list li .csp-price, .css-agency .sidebar-shop-products-list li .ssp-price,
.css-agency .sidebar-shop-products-list li .shop-star-rating li.full-star, .css-agency .shop-list .shop-product .shop-star-rating li.full-star,
.css-agency ul.shop-star-rating li.full-star {
  color: #9176bd;
}

.css-agency .shop-list .shop-product .shop-ribbon, .css-agency .ui-slider-horizontal .ui-slider-range,
.css-agency .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary, .css-agency .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
  background: #9176bd;
}
.css-agency .loader-13 > div:last-child, 
.css-agency .loader-15 > div:last-child {
  border-color: #0cb4ce transparent;
}
.css-agency .loader-36 > div{
  background-image: -webkit-linear-gradient(transparent 0%, transparent 70%, #0cb4ce 30%, #0cb4ce 100%);
    background-image: linear-gradient(transparent 0%, transparent 70%, #0cb4ce 30%, #0cb4ce 100%);
}