/* Consult CSS Content */
body.css-consult,
.css-consult p,
.css-consult h1,
.css-consult h2,
.css-consult h3,
.css-consult h4,
.css-consult h5,
.css-consult h6,
.css-consult .featured-content h1.small,
.css-consult .form-group > label,
.css-consult .checkbox > label,
.css-consult .alert > p,
.css-consult .block-content-wrapper h2,
.css-consult .intro-text h1, .intro-text h2,
.css-consult .intro-text h3, .intro-text h4,
.css-consult .intro-text h5, .intro-text h6,
.css-consult .restaurant-info-img-content h4,
.css-consult .contact-title h3 {
  font-family: "Raleway", sans-serif;
}

.css-consult h1, .css-consult h2, .css-consult h3, .css-consult h4, .css-consult h5, .css-consult h6 {
  font-family: "Raleway", sans-serif;
}

.css-consult .color-1 {
  color: #03a9f5;
}

.css-consult .background-1,
.css-consult .animation-box.background-1:hover .animation-box-style-2.background-1:hover,
.css-consult .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-background-1,
.css-consult .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-background-1, a.brand-modern span.line-1 {
  background-color: #03a9f5 !important;
}

.css-consult .color-2 {
  color: #fe5722;
}

.css-consult .background-2,
.css-consult .animation-box.background-2:hover .animation-box-style-2.background-2:hover,
.css-consult .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-background-2,
.css-consult .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-background-2, a.brand-modern span.line-2 {
  background-color: #fe5722;
}

.css-consult .color-3 {
  color: #8b9db0;
}

.css-consult .background-3,
.css-consult .animation-box.background-3:hover .animation-box-style-2.background-3:hover,
.css-consult .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-background-3,
.css-consult .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-background-3, a.brand-modern span.line-3,
.css-consult .blog-desc-details:after {
  background-color: #8b9db0;
}

.css-consult .call-to-action {
  background-color: transparent !important;
}

.css-consult .tp-caption .btn-default,
.css-consult .btn-default,
.css-consult .flex-control-paging li a.flex-active,
.css-consult .navbar-toggle,
.css-consult #mobile-navbar,
.css-consult .offscreen-container,
.css-consult .maincolor-background,
.css-consult ul.widget-ul li a > span,
.css-consult ul.widget-social li a:hover,
.css-consult #people .item .info,
.css-consult .main-color,
.css-consult .flexslider.clients .flex-control-paging li a.flex-active,
.css-consult #portfolio-filter li a:after,
.css-consult .navbar.banner--clone .nav li.active > a,
.css-consult .pagination-box .pager li a,
.css-consult .pricing-table-column.special-price-table .pricing-table-head,
.css-consult .pricing-table-column.special-price-table .pricing-table-content,
.css-consult .shop-list .shop-product .shop-button-box .addtocart-button,
.css-consult .tags-cloud-list li a:hover,
.css-consult .progress-bar-box .progress-bar,
.css-consult .background-1,
.css-consult .selecter .selecter-item:hover,
.css-consult .selecter .selecter-item.selected:hover,
.css-consult #footer.colored,
.css-consult section.about-counter,
.css-consult .error-page-title:after,
.css-consult .tabpanel-style-4 .nav-tabs > li.active > a,
.css-consult .tabpanel-style-4 .nav-tabs > li > a:hover,
.css-consult .tabpanel-style-4 .nav-tabs > li.active > a:focus,
.css-consult .tabpanel-style-4 .nav-tabs > li.active > a:hover,
.css-consult .tabpanel-style-4 .tab-content h3:after,
.css-consult .about-classic-column-themecolor,
.css-consult .selecter .selecter-item:hover,
.css-consult .selecter .selecter-item.selected:hover,
.css-consult .text_holder_overlay,
.css-consult .tabpanel-style-sidenav ul.nav-tabs > li a:active,
.css-consult .tabpanel-style-sidenav ul.nav-tabs > li a:hover,
.css-consult .tabpanel-style-sidenav ul.nav-tabs > li.active a,
.css-consult .shop-type-2 a.add-to-cart-item,
.css-consult div.submit-form-upload-btn,
.css-consult .banner--clone.banner--stick .btn-cart .header-cart-count,
.css-consult .navbar-2 .btn-cart .header-cart-count,
.css-consult .tabpanel-style-2 .nav-tabs > li.active > a,
.css-consult .tabpanel-style-2 .nav-tabs > li.active > a:focus,
.css-consult .tabpanel-style-2 .nav-tabs > li.active > a:hover,
.css-consult .withmaincolor .testimonials-slider .flex-control-nav li a,
.css-consult .withmaincolor .testimonials-slider .testimonials-slider-box .testimonial-image,
.css-consult .dropcap.dropcap-style-2,
.css-consult .alert-default,
.css-consult blockquote:before,
.css-consult blockquote:after,
.css-consult .tp-caption .btn-default,
.css-consult .btn-default,
.css-consult .content-title h5:before,
.css-consult .content-title h5:after,
.css-consult .icon-box.icon-fill .icon-block,
.css-consult .icon-box.icon-square:hover .icon-block,
.css-consult .icon-box.icon-circle:hover .icon-block,
.css-consult .icon-box.icon-square:hover .icon-block span,
.css-consult .icon-box.icon-circle:hover .icon-block span,
.css-consult .icon-type.it-main-color:hover,
.css-consult .icon-type.it-main-color:focus,
.css-consult .icon-type.it-main-color-reverse,
.css-consult .icon-type.it-main-color:hover span,
.css-consult .icon-type.it-main-color-reverse:hover span,
.css-consult .add-to-cart-form .count-input .count-plus:hover,
.css-consult .add-to-cart-form .count-input .count-minus:hover,
.css-consult .pricing-table-column-2.special-price-table .pricing-table-head,
.css-consult .pricing-table-container.special-price-table,
.css-consult .pricing-table-column-2.special-price-table .pricing-table-content-2,
.css-consult .header-white .navbar-2 .btn-cart .header-cart-count,
.css-consult ul.forum-list li.forum-header,
.css-consult .textbox-withmaincolor,
.css-consult .background-1,
.css-consult .team-member-job,
.css-consult .team-section .team-desc-box:before,
.css-consult .team-section .team-desc-box:after,
.css-consult .shop-categories:hover .shop-title-categories,
.css-consult .content-divider-colored-bg [class^="icon-"],
.css-consult .overlay-animation-6 .content-box,
.css-consult .block-content-wrapper h1,
.css-consult .benefits-box h1,
.css-consult .selecter .selecter-item:hover,
.css-consult .selecter .selecter-item.selected:hover,
.css-consult .ui-slider .ui-slider-range,
.css-consult #header.header-main-color,
.css-consult .navbar-2.banner--clone.main-color-navbar,
.css-consult .tabpanel-style-center .nav-tabs > li.active > a,
.css-consult .tabpanel-style-center1 .nav-tabs > li.active > a:focus,
.css-consult .tabpanel-style-center .nav-tabs > li.active > a:hover,
.css-consult .label.label-primary,
.css-consult .label.label-primary,
.css-consult .star-rating .caption .label,
.css-consult .tparrows.preview5:hover,
.css-consult .table-style-4.table-withmaincolor thead tr th,
.css-consult .table-style-5.table-withmaincolor thead tr th,
.css-consult .table-style-6.table-withmaincolor thead tr th,
.css-consult .table-style-6.table-withmaincolor.table-striped > tbody > tr:nth-of-type(odd):hover,
.css-consult .table-style-7.table-withmaincolor thead tr th,
.css-consult .table-style-7.table-withmaincolor tbody tr:last-child th,
.css-consult .table-style-7.table-withmaincolor tbody tr:last-child td,
.css-consult .table-withmaincolor.table-hover > tbody > tr:hover,
.css-consult .table-style-2.table-withmaincolor thead tr th,
.css-consult .table-style-3.table-withmaincolor thead tr th,
.css-consult .table-style-3.table-withmaincolor tbody tr th,
.css-consult .parallax-withmaincolor,
.css-consult .contact-overlay-map .minimize-form:hover,
.css-consult .team-3:hover .team-social,
.css-consult .team-5:hover .team-social,
.css-consult .special-table-2,
.css-consult .special-table-3,
.css-consult span.pricing-3-discount,
.css-consult #vertical-timeline-container:before,
.css-consult .subscribe-fancy-themebg,
.css-consult .empty-cart,
.css-consult .team-4:hover .team-social,
.css-consult .content-divider-colored,
.css-consult .content-divider-colored-bg,
.css-consult .withmainbackground,
.css-consult .services-2-heading,
.css-consult .icon-box-2-effect-4 .icon-block-2,
.css-consult .services-2-heading,
.css-consult .promotion-box-theme-colored,
.css-consult .promotion-box-theme-colored .promotion-box-title h4,
.css-consult .icon-block-2,
.css-consult .icon-box-2-effect-2:hover .icon-block-2,
.css-consult .icon-box-2-effect-3 .icon-block-2:after,
.css-consult .icon-box-2-effect-4 .icon-block-2:after,
.css-consult .icon-box-2-effect-6 .icon-block-2,
.css-consult .icon-box-2-effect-6:hover .icon-block-2,
.css-consult .simple-icon-icon,
.css-consult a.call-to-action-link:hover,
.css-consult .add-to-cart-form .count-input .count-plus,
.css-consult .add-to-cart-form .count-input .count-minus,
.css-consult .tabpanel-style-5 .nav-tabs > li > a:active,
.css-consult .tabpanel-style-5 .nav-tabs > li.active > a:focus,
.css-consult .tabpanel-style-5 .nav-tabs > li.active > a,
.css-consult .tabpanel-style-5 .nav-tabs > li.active > a:active,
.css-consult .tabpanel-style-6 .nav-tabs > li > a:active,
.css-consult .tabpanel-style-6 .nav-tabs > li.active > a:focus,
.css-consult .tabpanel-style-6 .nav-tabs > li.active > a,
.css-consult .tabpanel-style-6 .nav-tabs > li.active > a:active,
.css-consult .special-price-box,
.css-consult .dropdown-menu > .active > a,
.css-consult .dropdown-menu > .active > a:focus,
.css-consult .dropdown-menu > .active > a:hover,
.css-consult #header.main-color-nav .navbar-2,
.css-consult .latest-post-data,
.css-consult .blog-single-post .bsp-heading h1,
.css-consult .testimonial-single .slick-dots li button:before,
.css-consult .slick-dots li button:before,
.css-consult .blog-list > article.default-post .blog-post-2 .bp2-category,
.css-consult .timeline-complete .timeline-status.timeline-active:before,
.css-consult .megamenu.maincolor,
.css-consult .dropdown.maincolor ul,
.css-consult .dropdown.maincolor ul.dropdown-menu,
.css-consult #footer.maincolor,
.css-consult #copyrights.maincolor,
.css-consult .no-touch .cd-horizontal-timeline .events a:hover::after,
.css-consult .cd-horizontal-timeline .events a.selected::after,
.css-consult .cd-horizontal-timeline .filling-line,
.css-consult .pinpulsebox span,
.css-consult .main-color-dropdown .megamenu,
.css-consult .main-color-dropdown .dropdown-menu,
.css-consult #cd-timeline::before,
.css-consult ul.icon-list.il-main-bg li [class^="icon-"],
.css-consult .process-steps ul li.current a .number,
.css-consult ol.ordered-list.ol-main-bg li:before,
.css-consult .irs-bar,
.css-consult .irs-from,
.css-consult .irs-to,
.css-consult .irs-single,
.css-consult .open > .dropdown-toggle.btn-default,
.css-consult .fc-unthemed .fc-today,
.css-consult .fc-content,
.css-consult #particles-js,
.css-consult .s-icon:hover,
.css-consult #progressbar li.active:before,
.css-consult #progressbar li.active:after,
.css-consult .pagination > .active > a,
.css-consult .pagination > .active > a:focus,
.css-consult .pagination > .active > a:hover,
.css-consult .pagination > .active > span,
.css-consult .pagination > .active > span:focus,
.css-consult .pagination > .active > span:hover,
.css-consult .portfolio-filter .selecter-item.activeFilter,
.css-consult .page-loader-spinner span,
.css-consult .loader-6:before,
.css-consult .loader-2,
.css-consult .loader-2:before,
.css-consult .loader-2:after {
  background-color: #03a9f5 !important;
}

.css-consult .header-content .phone-number span,
.css-consult .intro-block h6,
.css-consult .icon-block [class^="icon-"],
.css-consult ul.header-links li a:hover,
.css-consult ul.widget-ul li a:hover,
.css-consult .navbar.banner--clone .nav > li > a:hover,
.css-consult .navbar.banner--clone .btn-search:hover,
.css-consult .success-lg:hover [class^="icon-"],
.css-consult #copyrights ul li a:hover,
.css-consult #copyrights a:hover,
.css-consult .breadcrumb > .active,
.css-consult #portfolio-filter li a.activeFilter,
.css-consult #portfolio-filter li a:hover,
.css-consult .text_holder_normal .portfolio_title a:hover,
.css-consult a.image_zoom:hover [class^="icon-"],
.css-consult a.image_link:hover [class^="icon-"],
.css-consult a.load-more-btn:hover,
.css-consult a.load-more-btn:hover [class^="icon-"],
.css-consult .intro-block h1 [class^="icon-"],
.css-consult .shop-list .shop-product h5 a:hover,
.css-consult ul#portfolio-layout-filter li a.active,
.css-consult .text_holder_normal .project_category a:hover,
.css-consult ul.sidebar-shop-cat > li span,
.css-consult .shop-price,
.css-consult ul.sidebar-shop-cat > li > a:hover,
.css-consult a.load-more-btn:hover,
.css-consult a.load-more-btn:hover [class^="icon-"],
.css-consult .intro-block h1 [class^="icon-"],
.css-consult .shop-list .shop-product h5 a:hover,
.css-consult ul#portfolio-layout-filter li a.active,
.css-consult .text_holder_normal .project_category a:hover,
.css-consult ul.sidebar-cat > li span,
.css-consult .shop-price,
.css-consult ul.sidebar-cat > li > a:hover,
.css-consult ul.jobs-list li [class^="icon-"],
.css-consult .team-social a:hover,
.css-consult .icon-default,
.css-consult .error-page-icon span [class^="icon-"],
.css-consult .footer-3-container-text a:hover,
.css-consult .testimonials-box .testimonial-author,
.css-consult #page-title.image-page-title-fullwidth h1,
.css-consult #page-title.image-page-title-left.image-page-noimage h2,
.css-consult ul.services-2-icons,
.css-consult ul.shop-layout-filter li a.active,
.css-consult ul.portfolio-layout-filter li a.active,
.css-consult ul.porfolio-project-details-list > li .ppd-right,
.css-consult ul.porfolio-project-details-list > li .ppd-right a:hover,
.css-consult .related-projects-title .slick-custom-next:hover,
.css-consult .related-projects-title .slick-custom-prev:hover,
.css-consult .recent-post-content a:hover,
.css-consult .form-group.login-form-submit a,
.css-consult .shop-type-1 a.add-to-cart-item:before,
.css-consult .shop-type-2 a.add-to-cart-item:before,
.css-consult a.form-forgotpass,
.css-consult .sidebar-shop-products-list li .ssp-title:hover,
.css-consult .restaurant-info ul li [class^="icon-"],
.css-consult .navbar-default.default .btn-cart .header-cart-count,
.css-consult .cart-shop-products-list li .csp-title:hover,
.css-consult .blog-list > article .blog-desc h4 a:hover,
.css-consult .blog-list > article .blog-desc h4 a:focus,
.css-consult .blog-list-full > article .blog-desc h4 a:hover,
.css-consult .blog-list-full > article .blog-desc h4 a:focus,
.css-consult .blog-list > article .blog-desc .blog-desc-details a:hover,
.css-consult .blog-list > article .blog-desc .blog-desc-details a:focus,
.css-consult .blog-list-full > article .blog-desc .blog-desc-details a:hover,
.css-consult .blog-list-full > article .blog-desc .blog-desc-details a:focus,
.css-consult .single-post > article .blog-desc .blog-desc-details a:hover,
.css-consult .single-post > article .blog-desc .blog-desc-details a:focus,
.css-consult .blog-list > article .blog-desc .btn-breadmore:hover,
.css-consult .blog-list > article .blog-desc .btn-breadmore:focus,
.css-consult .blog-list-full > article .blog-desc .btn-breadmore:hover,
.css-consult .blog-list-full > article .blog-desc .btn-breadmore:focus,
.css-consult .blog-masonry > article .blog-desc h4 a:hover,
.css-consult .blog-masonry > article .blog-desc h4 a:focus,
.css-consult .blog-masonry > article .blog-desc .blog-desc-details a:hover,
.css-consult .blog-masonry > article .blog-desc .blog-desc-details a:focus,
.css-consult .comment_response .media h6 a,
.css-consult .comment_response .media_cloud a.reply_link,
.css-consult .tabpanel-style-1 .nav-tabs > li.active > a:focus,
.css-consult .tabpanel-style-1 .nav-tabs > li.active > a:hover,
.css-consult .tabpanel-style-3 .nav-tabs > li.active > a,
.css-consult .tabpanel-style-3 .nav-tabs > li.active > a:focus,
.css-consult .tabpanel-style-3 .nav-tabs > li.active > a:hover,
.css-consult .dropcap.dropcap-style-1,
.css-consult .icon-box.icon-square.icon-fill:hover .icon-block [class^="icon-"],
.css-consult .icon-box.icon-circle.icon-fill:hover .icon-block [class^="icon-"],
.css-consult .counter-box .count-icon,
.css-consult .counter-style-1 .counter-box h3,
.css-consult .icon-type,
.css-consult .icon-type.it-main-color,
.css-consult .icon-type.it-main-color-reverse:hover,
.css-consult .icon-type.it-main-color-reverse:focus,
.css-consult .widget-twitter-box .tweet ul li a,
.css-consult .shop-single-page .review_response .review-title .shop-star-rating li.full-star,
.css-consult .comment_response .media h6 a,
.css-consult .comment_response .media_cloud a.reply_link,
.css-consult .tabpanel-style-1 .nav-tabs > li.active > a:focus,
.css-consult .tabpanel-style-1 .nav-tabs > li.active > a:hover,
.css-consult .tabpanel-style-3 .nav-tabs > li.active > a,
.css-consult .tabpanel-style-3 .nav-tabs > li.active > a:focus,
.css-consult .tabpanel-style-3 .nav-tabs > li.active > a:hover,
.css-consult .dropcap.dropcap-style-1,
.css-consult .btn-default-reverse,
.css-consult .icon-box.icon-square.icon-fill:hover .icon-block [class^="icon-"],
.css-consult .icon-box.icon-circle.icon-fill:hover .icon-block [class^="icon-"],
.css-consult .counter-box .count-icon,
.css-consult .counter-style-1 .counter-box h3,
.css-consult .icon-type,
.css-consult .icon-type.it-main-color,
.css-consult .icon-type.it-main-color-reverse:hover [class^="icon-"],
.css-consult .icon-type.it-main-color-reverse:focus,
.css-consult .widget-twitter-box .tweet ul li a,
.css-consult .shop-single-page .review_response .review-title .shop-star-rating li.full-star,
.css-consult .review_response .media h6 a,
.css-consult .review_response .media_cloud .shop-star-rating li.full-star,
.css-consult .rating-container .rating-stars,
.css-consult .form-contact small,
.css-consult ul.icon-list li a:hover,
.css-consult ul.icon-list li a:active,
.css-consult ul.icon-list li a:focus,
.css-consult .checkout-sum,
.css-consult .checkout-table td a:hover,
.css-consult .checkout-box a,
.css-consult .user-profile-list ul li a:hover,
.css-consult a.profile-active,
.css-consult .user-profile-content h2,
.css-consult .forum-content-header span a,
.css-consult .recent-work-content a:hover,
.css-consult .recent-work-image-content a:hover,
.css-consult .contact-overlay-map .maximize-form:hover,
.css-consult .hero-slier-nav-content:hover [class^="icon-"],
.css-consult .selected .hero-slier-nav-content [class^="icon-"],
.css-consult .team-social a:hover,
.css-consult .team-name h5 a:hover,
.css-consult .clients-slick-nav .slick-custom-next:hover,
.css-consult .clients-slick-nav .slick-custom-prev:hover,
.css-consult .services-pricing-icon [class^="icon-"],
.css-consult .brand [class^="icon-"],
.css-consult .content-divider-colored [class^="icon-"],
.css-consult .divider-content h1 span,
.css-consult .divider-content h2 span,
.css-consult .divider-content h3 span,
.css-consult .intro-page-content a:hover,
.css-consult .image-box-content a:hover,
.css-consult .icon-type.it-main-color [class^="icon-"],
.css-consult .icon-type-2:hover p,
.css-consult .icon-type-2:hover span.icon-type-2-icon,
.css-consult .heading-container .head-colored,
.css-consult ul.home-6-list li h4 [class^="icon-"],
.css-consult .icon-box-2-effect-1:hover .icon-block-2,
.css-consult .icon-box-2-effect-3-reverse:hover .icon-block-2,
.css-consult .icon-box-2-effect-4:hover .icon-block-2,
.css-consult .icon-box-2-effect-4-reverse .icon-block-2,
.css-consult .icon-box-2-effect-5:hover .icon-block-2,
.css-consult .simple-icon-lightbg [class^="icon-"],
.css-consult .newsletter-signup button,
.css-consult a.add-to-wishlist.select,
.css-consult a.add-to-wishlist.select [class^="icon-"],
.css-consult .accordion-style-1 .panel-default > .panel-heading .panel-title a:hover,
.css-consult .panel-body ul li a:hover,
.css-consult .colored,
.css-consult .ss-price,
.css-consult .tabpanel-style-7 .nav-tabs > li.active > a,
.css-consult .tabpanel-style-6 .nav-tabs > li > a,
.css-consult .tabpanel-style-8 .nav-tabs > li.active > a,
.css-consult .tp_caption_big span,
.css-consult ul.icon-box-simple li:hover a,
.css-consult .testimonials-slick-nav .slick-testimonial-prev:hover [class^="icon-"],
.css-consult .testimonials-slick-nav .slick-testimonial-next:hover [class^="icon-"],
.css-consult .clients-slick-nav .slick-clients-prev:hover [class^="icon-"],
.css-consult .clients-slick-nav .slick-clients-next:hover [class^="icon-"],
.css-consult .blockquote-author p,
.css-consult .testimonial-author,
.css-consult .latest-post-content h1 a:hover,
.css-consult .post-by a:hover,
.css-consult .latest-post-content .read-more-link,
.css-consult .blog-horizontal .bh-content h3 a:hover,
.css-consult .blog-horizontal .bh-content .bh-details a:hover,
.css-consult .blog-horizontal .bh-content .bh-details a:hover span,
.css-consult a.bsp-title:hover,
.css-consult .sidebar-blog-post-list li .sbp-title:hover,
.css-consult .navbar-nav > li.active,
.css-consult .navbar-nav > li.active:hover,
.css-consult a.idb-social:hover,
.css-consult a.idb-social:hover span,
.css-consult a.idb-price,
.css-consult span.pts-raised,
.css-consult .bsp-social a:hover,
.css-consult .bsp-social a [class^="icon-"]:hover,
.css-consult a.bsp-more:hover,
.css-consult .blog-list > article .blog-image-box .video-play-icon:focus [class^="icon-"],
.css-consult .blog-list > article .blog-post-2 .bp2-desc h4 a:hover,
.css-consult .blog-list > article .blog-post-2 .bp2-desc h4 a:focus,
.css-consult .blog-list > article .blog-post-2 .bp2-desc .blog-desc-details a:hover,
.css-consult .blog-list > article .blog-post-2 .bp2-desc .blog-desc-details a:focus,
.css-consult .gallery-block .gallery-box .gallery-meta a:hover,
.css-consult .gallery-block .gallery-box .gallery-meta a:focus,
.css-consult .cd-timeline-inner-content a:hover,
.css-consult .testimonial-box .testimonial-author span,
.css-consult .fic-date a:hover,
.css-consult .forum-inner-content h1 a:hover,
.css-consult .user-profile-desc a:hover,
.css-consult .cd-timeline-navigation a:hover::after,
.css-consult .login-form .login-input-box [class^="icon-"],
.css-consult .icon-input-box [class^="icon-"],
.css-consult ul.icon-list.il-no-border.il-main-bg li [class^="icon-"],
.css-consult ul.bar-chart-graph li,
.css-consult ul.line-graph li,
.css-consult ul.donut-graph li,
.css-consult .tp-caption.Creative-SubTitle,
.css-consult .Creative-SubTitle,
.css-consult .tp-caption.vlt-hero-rotating,
.css-consult .pagination > li > a:focus,
.css-consult .pagination > li > a:hover,
.css-consult .pagination > li > span:focus,
.css-consult .pagination > li > span:hover,
.css-consult .pager li > a,
.css-consult ul.recent-post-widget .rp-post a:hover,
.css-consult .tp-tab.selected span.tp-tab-title span,
.css-consult .tp-tab.selected span.tp-tab-title,
.css-consult .zeus .tp-tab.selected:hover .tp-tab-title,
.css-consult .tp-main-color,
.css-consult .loader-5,
.css-consult .loader-7,
.css-consult .loader-9,
.css-consult .loader-2,
.css-consult .loader-4 {
  color: #03a9f5 !important;
}

.css-consult .tp-caption .btn-default,
.css-consult .btn-default,
.css-consult .flex-control-paging li a.flex-active,
.css-consult .flexslider.clients .flex-control-paging li a.flex-active,
.css-consult .pagination-box .pager li a,
.css-consult .contact-info-3,
.css-consult .tags-cloud-list li a:hover,
.css-consult .team-social a:hover,
.css-consult .contact-title-one h3:after,
.css-consult .home-title-one h3:after,
.css-consult #login-form .login-input:active,
.css-consult #login-form .login-input:focus,
.css-consult .load-more-wrapper a.load-more-btn:hover,
.css-consult #register-form .register-input:active,
.css-consult #register-form .register-input:focus,
.css-consult .dropcap.dropcap-style-1,
.css-consult .dropcap.dropcap-style-2,
.css-consult .alert-default,
.css-consult blockquote,
.css-consult .tp-caption .btn-default,
.css-consult .btn-default,
.css-consult .btn-default-reverse,
.css-consult .icon-box.icon-square .icon-block,
.css-consult .icon-box.icon-circle .icon-block,
.css-consult .icon-type.it-main-color,
.css-consult .icon-type.it-main-color:hover,
.css-consult .icon-type.it-main-color:focus,
.css-consult .icon-type.it-main-color-reverse,
.css-consult .icon-type.it-main-color-reverse:hover,
.css-consult .icon-type.it-main-color-reverse:focus,
.css-consult .add-to-cart-form .count-input .count-plus:hover,
.css-consult .add-to-cart-form .count-input .count-minus:hover,
.css-consult #reviewmodal .modal-header,
.css-consult .job-left-title h3,
.css-consult .pricing-table-container.special-price-table,
.css-consult .clients-slick-nav .slick-custom-next:hover,
.css-consult .clients-slick-nav .slick-custom-prev:hover,
.css-consult a.add-to-wishlist.select,
.css-consult a.add-to-wishlist.select [class^="icon-"],
.css-consult .tabpanel-style-8 .nav-tabs > li.active,
.css-consult a.btn-default.btn-animation-icon-box,
.css-consult .btn-default.btn-animation-icon-box:hover,
.css-consult .btn-default.btn-animation-icon-box:focus,
.css-consult .btn-default.btn-animation-icon-box:active,
.css-consult .tp-caption a.btn-default.btn-animation-icon-box,
.css-consult .tp-caption .btn-default.btn-animation-icon-box:hover,
.css-consult .tp-caption .btn-default.btn-animation-icon-box:focus,
.css-consult .tp-caption .btn-default.btn-animation-icon-box:active,
.css-consult .testimonials-slick-nav .slick-testimonial-prev:hover,
.css-consult .testimonials-slick-nav .slick-testimonial-next:hover,
.css-consult .clients-slick-nav .slick-clients-prev:hover,
.css-consult .clients-slick-nav .slick-clients-next:hover,
.css-consult .bsp-image,
.css-consult .blog-list > article.default-post .blog-desc,
.css-consult .testimonial-single li.slick-active button::before,
.css-consult .slick-dots li.slick-active button:before,
.css-consult .blog-list > article.default-post .blog-post-2 .bp2-desc,
.css-consult .blog-list > article .blog-desc .btn-breadmore:hover,
.css-consult .blog-list > article .blog-desc .btn-breadmore:focus,
.css-consult .timeline-status.timeline-active:before,
.css-consult .cd-horizontal-timeline .events a.older-event::after,
.css-consult .cd-horizontal-timeline .events a.selected::after,
.css-consult .no-touch .cd-horizontal-timeline .events a:hover::after,
.css-consult .no-touch .cd-timeline-navigation a:hover,
.css-consult .cd-bg-image:hover .video-play-icon [class^="icon-"],
.css-consult .cd-timeline-navigation a:hover,
.css-consult .tabpanel-style-1 .nav-tabs > li.active > a,
.css-consult .tabpanel-style-1 .nav-tabs > li.active > a:focus,
.css-consult .tabpanel-style-1 .nav-tabs > li.active > a:hover,
.css-consult .login-form input:focus,
.css-consult .pinpulse,
.css-consult .open > .dropdown-toggle.btn-default,
.css-consult .pagination > .active > a,
.css-consult .pagination > .active > a:focus,
.css-consult .pagination > .active > a:hover,
.css-consult .pagination > .active > span,
.css-consult .pagination > .active > span:focus,
.css-consult .pagination > .active > span:hover,
.css-consult .table-style-1 thead tr th,
.css-consult .table-style-1 tbody tr:last-child th,
.css-consult .table-style-1 tbody tr:last-child td,
.css-consult .table-withmaincolor thead tr th,
.css-consult .clients-title-border h3,
.css-consult .cd-slider-nav li:hover,
.css-consult .selected,
.css-consult .job-form input:focus,
.css-consult .job-form select:focus,
.css-consult .job-form textarea:focus,
.css-consult .form-contact input:focus,
.css-consult .form-contact select:focus,
.css-consult .form-contact textarea:focus,
.css-consult .form-contact input:focus,
.css-consult .icon-type-2:hover p,
.css-consult .icon-type-2:hover span.icon-type-2-icon,
.css-consult .icon-type-2:hover span.icon-type-2-icon [class^="icon-"],
.css-consult .activeFilter {
  border-color: #03a9f5;
}

.css-consult .tabpanel-style-4 .nav-tabs > li.active,
.css-consult .tabpanel-style-4 .nav-tabs > li.active > span,
.css-consult .tabpanel-style-5 .nav-tabs > li.active,
.css-consult .tabpanel-style-5 .nav-tabs > li.active > span {
  border-color: #03a9f5 transparent;
}

.css-consult .icon-box-2-effect-3 .icon-block-2 {
  box-shadow: 0 0 0 3px #03a9f5;
}

.css-consult .icon-box-2-effect-4 .icon-block-2,
.css-consult .icon-box-2-effect-5 .icon-block-2,
.css-consult .icon-box-2-effect-5:hover .icon-block-2,
.css-consult .icon-box-2-effect-1 .icon-block-2:after,
.css-consult .icon-box-2-effect-2 .icon-block-2:after {
  box-shadow: 0 0 0 4px #03a9f5;
}

.css-consult .icon-box-2-effect-6 .icon-block-2:after {
  box-shadow: 0 0 0 2px #03a9f5;
}

.css-consult .empty-cart:after {
  border-bottom-color: #03a9f5;
}

.css-consult .btn-default-reverse:hover,
.css-consult .btn-default-reverse:focus {
  background-color: #03a9f5 !important;
  border-color: #03a9f5 !important;
}

.css-consult .tp-caption .btn-default.active,
.css-consult .btn-default.active,
.css-consult .tp-caption .btn-default.focus,
.css-consult .btn-default.focus,
.css-consult .tp-caption .btn-default:active,
.css-consult .btn-default:active,
.css-consult .tp-caption .btn-default:focus,
.css-consult .btn-default:focus,
.css-consult .tp-caption .btn-default:hover,
.css-consult .btn-default:hover,
.css-consult .tp-caption .btn-white:hover,
.css-consult .btn-white:hover {
  background-color: #039adf !important;
  border-color: #039adf !important;
}

.css-consult .metis .tp-tab.selected .tp-tab-divider {
  border-right-color: #03a9f5;
}

.css-consult #header.header-white .navbar-2 .navbar-nav > li > a:before,
.css-consult #header.header-dark .navbar-2 .navbar-nav > li > a:before,
.css-consult #header.header-white-transparent .navbar-2 .navbar-nav > li > a:before,
.css-consult #header.header-dark-transparent .navbar-2 .navbar-nav > li > a:before,
.css-consult #header.header-white-sticky .navbar-2 .navbar-nav > li > a:before,
.css-consult #header.header-dark-sticky .navbar-2 .navbar-nav > li > a:before,
.css-consult #header.header-white-transparent-sticky .navbar-2 .navbar-nav > li > a:before,
.css-consult #header.header-dark-transparent-sticky .navbar-2 .navbar-nav > li > a:before {
  background-color: #03a9f5;
}

.css-consult #header.header-main-color .navbar-2 .navbar-nav > li > a:before,
.css-consult #header.header-main-color-sticky .navbar-2 .navbar-nav > li > a:before,
.css-consult span.latest-post-month,
.css-consult .main-color-dropdown .dropdown-menu .dropdown-menu,
.css-consult .main-color-dropdown .dropdown-menu .dropdown-menu .dropdown-menu {
  background-color: #039adf;
}

.css-consult #header.header-white .navbar-2 .search-navbar .btn-search:hover,
.css-consult #header.header-white .navbar-2 .search-navbar .btn-cart:hover,
.css-consult #header.header-dark .navbar-2 .search-navbar .btn-search:hover,
.css-consult #header.header-dark .navbar-2 .search-navbar .btn-cart:hover,
.css-consult #header.header-white-transparent .navbar-2 .search-navbar .btn-search:hover,
.css-consult #header.header-white-transparent .navbar-2 .search-navbar .btn-cart:hover,
.css-consult #header.header-dark-transparent .navbar-2 .search-navbar .btn-search:hover,
.css-consult #header.header-dark-transparent .navbar-2 .search-navbar .btn-cart:hover,
.css-consult #header.header-dark-sticky.header-sticky .navbar-2 .search-navbar .btn-search:hover,
.css-consult #header.header-dark-sticky.header-sticky .navbar-2 .search-navbar .btn-cart:hover,
.css-consult #header.header-white-transparent-sticky.header-sticky .navbar-2 .search-navbar .btn-search:hover,
.css-consult #header.header-white-transparent-sticky.header-sticky .navbar-2 .search-navbar .btn-cart:hover,
.css-consult #header.header-dark-transparent-sticky.header-sticky .navbar-2 .search-navbar .btn-search:hover,
.css-consult #header.header-dark-transparent-sticky.header-sticky .navbar-2 .search-navbar .btn-cart:hover,
.css-consult #header.header-main-color .navbar-2 .search-navbar .btn-search:hover,
.css-consult #header.header-main-color .navbar-2 .search-navbar .btn-cart:hover,
.css-consult #header.header-main-color-sticky.header-sticky .navbar-2 .search-navbar .btn-search:hover,
.css-consult #header.header-main-color-sticky.header-sticky .navbar-2 .search-navbar .btn-cart:hover {
  background: #039adf;
  border-color: #039adf;
}

.css-consult #header.header-main-color .navbar-2 .navbar-nav > li.active,
.css-consult #header.main-color-nav .navbar-2 .navbar-nav > .active > a {
  background-color: #039adf;
}

.css-consult .background-1 .counter-style-1 .counter-box h3 {
  color: #ffffff !important;
}

.css-consult .text_holder,
.css-consult .standard_hover .portfolio_overlay,
.css-consult .overlay-animation-1 .overlay_box,
.css-consult .overlay-animation-2 .overlay_box,
.css-consult .flip-hover .flip-box .content-box,
.css-consult .team-8 .team-image .overlay-team-box,
.css-consult .team-9 .team-image .overlay-team-box,
.css-consult .portfolio-animation-slide .sliding-content {
  background-color: rgba(3, 169, 245, 0.9);
}

.css-consult .table-style-5.table-withmaincolor tbody tr td:nth-child(2),
.css-consult .team-2 .overlay-team-box,
.css-consult .team-6 .overlay-team-box,
.css-consult .team-7 .overlay-team-box,
.css-consult .table-style-6.table-withmaincolor.table-striped > tbody > tr:nth-of-type(odd),
.css-consult .contact-overlay-map .overlay-map-background,
.css-consult .table-style-7.table-withmaincolor.table-striped > tbody > tr:nth-of-type(odd),
.css-consult .table-style-7.table-withmaincolor tbody tr th,
.css-consult .table-style-2.table-withmaincolor tbody tr,
.css-consult .fc-bgevent,
.css-consult #particles-js.background-1 {
  background-color: rgba(3, 169, 245, 0.6) !important;
}

.css-consult .widget-dribbble-box .shots li a:hover:before, .css-consult .dribbble-box .shots li a:hover:before,
.css-consult .instagram-widget a:hover:before {
  background-color: rgba(3, 169, 245, 0.85);
}

.css-consult .search-popup-box,
.css-consult .scroll-to-top-fixed {
  background-color: rgba(3, 169, 245, 0.95);
}

.css-consult .gray-background .testimonial-single li.slick-active button:before,
.css-consult .gray-background li.slick-active button:before {
  background-color: transparent !important;
  border-color: #777 !important;
}

.css-consult .transparent-background .testimonial-single li.slick-active button:before,
.css-consult .transparent-background li.slick-active button:before {
  background-color: transparent !important;
  border-color: #ffffff !important;
}

.css-consult .background-1 .testimonial-single li.slick-active button:before,
.css-consult .background-1 li.slick-active button:before,
.css-consult .background-2 .testimonial-single li.slick-active button:before,
.css-consult .background-2 li.slick-active button:before,
.css-consult .background-3 .testimonial-single li.slick-active button:before,
.css-consult .background-3 li.slick-active button:before,
.css-consult .white-dots .slick-dots li.slick-active button:before {
  background-color: transparent !important;
  border-color: #ffffff !important;
}

.css-consult .background-2 .testimonial-single .slick-dots li button::before,
.css-consult .background-2 .slick-dots li button::before {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}

.css-consult .loader-3 {
  border-top-color: rgba(3, 169, 245, 0.2);
  border-right-color: rgba(3, 169, 245, 0.2);
  border-bottom-color: rgba(3, 169, 245, 0.2);
  border-left-color: #03a9f5;
}

.css-consult .icon-box.icon-fill:hover .icon-block,
.css-consult .icon-box.icon-fill:hover .icon-block [class^="icon-"] {
  background-color: transparent !important;
}

.css-consult .cart-shop-products h3, .css-consult .cart-shop-products .total-bottom-cart .total-cart-price span,
.css-consult .cart-shop-products-list li .csp-price, .css-consult .sidebar-shop-products-list li .ssp-price,
.css-consult .sidebar-shop-products-list li .shop-star-rating li.full-star, .css-consult .shop-list .shop-product .shop-star-rating li.full-star,
.css-consult ul.shop-star-rating li.full-star {
  color: #8b9db0;
}

.css-consult .shop-list .shop-product .shop-ribbon, .css-consult .ui-slider-horizontal .ui-slider-range,
.css-consult .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary, .css-consult .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
  background: #8b9db0;
}
