/* Help Center */
body.css-help-center,
.css-help-center p,
.css-help-center h1,
.css-help-center h2,
.css-help-center h3,
.css-help-center h4,
.css-help-center h5,
.css-help-center h6,
.css-help-center .featured-content h1.small,
.css-help-center .form-group > label,
.css-help-center .checkbox > label,
.css-help-center .alert > p,
.css-help-center .block-content-wrapper h2,
.css-help-center .intro-text h1, .intro-text h2,
.css-help-center .intro-text h3, .intro-text h4,
.css-help-center .intro-text h5, .intro-text h6,
.css-help-center .restaurant-info-img-content h4,
.css-help-center .contact-title h3 {
  font-family: "Lato", sans-serif;
}

.css-help-center h1, .css-help-center h2, .css-help-center h3, .css-help-center h4, .css-help-center h5, .css-help-center h6 {
  font-family: "Lato", sans-serif;
}

.css-help-center .color-1 {
  color: #8bc34a !important;
}

.css-help-center .background-1,
.css-help-center .animation-box.background-1:hover .animation-box-style-2.background-1:hover,
.css-help-center .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-background-1,
.css-help-center .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-background-1, a.brand-modern span.line-1 {
  background-color: #8bc34a !important;
}

.css-help-center .color-2 {
  color: #8da6e9 !important;
}

.css-help-center .background-2,
.css-help-center .animation-box.background-2:hover .animation-box-style-2.background-2:hover,
.css-help-center .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-background-2,
.css-help-center .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-background-2, a.brand-modern span.line-2 {
  background-color: #8da6e9 !important;
}

.css-help-center .color-3 {
  color: #f3565d !important;
}

.css-help-center .background-3,
.css-help-center .animation-box.background-3:hover .animation-box-style-2.background-3:hover,
.css-help-center .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-background-3,
.css-help-center .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-background-3, a.brand-modern span.line-3 {
  background-color: #f3565d !important;
}

.css-help-center .call-to-action {
  background-color: transparent !important;
}

.css-help-center .svg-animation path {
  stroke: #8bc34a !important;
}

.css-help-center .tp-caption .btn-default,
.css-help-center .btn-default,
.css-help-center .flex-control-paging li a.flex-active,
.css-help-center .navbar-toggle,
.css-help-center #mobile-navbar,
.css-help-center .offscreen-container,
.css-help-center .maincolor-background,
.css-help-center ul.widget-ul li a > span,
.css-help-center ul.widget-social li a:hover,
.css-help-center #people .item .info,
.css-help-center .main-color,
.css-help-center .flexslider.clients .flex-control-paging li a.flex-active,
.css-help-center #portfolio-filter li a:after,
.css-help-center .navbar.banner--clone .nav li.active > a,
.css-help-center .pagination-box .pager li a,
.css-help-center .pricing-table-column.special-price-table .pricing-table-head,
.css-help-center .pricing-table-column.special-price-table .pricing-table-content,
.css-help-center .shop-list .shop-product .shop-button-box .addtocart-button,
.css-help-center .tags-cloud-list li a:hover,
.css-help-center .progress-bar-box .progress-bar,
.css-help-center .background-1,
.css-help-center .selecter .selecter-item:hover,
.css-help-center .selecter .selecter-item.selected:hover,
.css-help-center #footer.colored,
.css-help-center section.about-counter,
.css-help-center .error-page-title:after,
.css-help-center .tabpanel-style-4 .nav-tabs > li.active > a,
.css-help-center .tabpanel-style-4 .nav-tabs > li > a:hover,
.css-help-center .tabpanel-style-4 .nav-tabs > li.active > a:focus,
.css-help-center .tabpanel-style-4 .nav-tabs > li.active > a:hover,
.css-help-center .tabpanel-style-4 .tab-content h3:after,
.css-help-center .about-classic-column-themecolor,
.css-help-center .selecter .selecter-item:hover,
.css-help-center .selecter .selecter-item.selected:hover,
.css-help-center .item-text-wrapper_overlay,
.css-help-center .tabpanel-style-sidenav ul.nav-tabs > li a:active,
.css-help-center .tabpanel-style-sidenav ul.nav-tabs > li a:hover,
.css-help-center .tabpanel-style-sidenav ul.nav-tabs > li.active a,
.css-help-center .shop-type-2 a.add-to-cart-item,
.css-help-center .banner--clone.banner--stick .btn-cart .header-cart-count,
.css-help-center .navbar-2 .btn-cart .header-cart-count,
.css-help-center .tabpanel-style-2 .nav-tabs > li.active > a,
.css-help-center .tabpanel-style-2 .nav-tabs > li.active > a:focus,
.css-help-center .tabpanel-style-2 .nav-tabs > li.active > a:hover,
.css-help-center .withmaincolor .testimonials-slider .flex-control-nav li a,
.css-help-center .withmaincolor .testimonials-slider .testimonials-slider-box .testimonial-image,
.css-help-center .dropcap.dropcap-style-2,
.css-help-center .alert-default,
.css-help-center blockquote:before,
.css-help-center blockquote:after,
.css-help-center .tp-caption .btn-default,
.css-help-center .btn-default,
.css-help-center .content-title h5:before,
.css-help-center .content-title h5:after,
.css-help-center .icon-box.icon-fill .icon-block,
.css-help-center .icon-box.icon-square:hover .icon-block,
.css-help-center .icon-box.icon-circle:hover .icon-block,
.css-help-center .icon-box.icon-square:hover .icon-block span,
.css-help-center .icon-box.icon-circle:hover .icon-block span,
.css-help-center .icon-type.it-main-color:hover,
.css-help-center .icon-type.it-main-color:focus,
.css-help-center .icon-type.it-main-color-reverse,
.css-help-center .icon-type.it-main-color:hover span,
.css-help-center .icon-type.it-main-color-reverse:hover span,
.css-help-center .add-to-cart-form .count-input .count-plus:hover,
.css-help-center .add-to-cart-form .count-input .count-minus:hover,
.css-help-center .pricing-table-column-2.special-price-table .pricing-table-head,
.css-help-center .pricing-table-container.special-price-table,
.css-help-center .pricing-table-column-2.special-price-table .pricing-table-content-2,
.css-help-center .header-white .navbar-2 .btn-cart .header-cart-count,
.css-help-center ul.forum-list li.forum-header,
.css-help-center .textbox-withmaincolor,
.css-help-center .background-1,
.css-help-center .team-member-job,
.css-help-center .team-section .team-desc-box:before,
.css-help-center .team-section .team-desc-box:after,
.css-help-center .shop-categories:hover .shop-title-categories,
.css-help-center .content-divider-colored-bg [class^="icon-"],
.css-help-center .overlay-animation-6 .content-box,
.css-help-center .block-content-wrapper h1,
.css-help-center .benefits-box h1,
.css-help-center .selecter .selecter-item:hover,
.css-help-center .selecter .selecter-item.selected:hover,
.css-help-center .ui-slider .ui-slider-range,
.css-help-center #header.header-main-color,
.css-help-center .navbar-2.banner--clone.main-color-navbar,
.css-help-center .tabpanel-style-center .nav-tabs > li.active > a,
.css-help-center .tabpanel-style-center1 .nav-tabs > li.active > a:focus,
.css-help-center .tabpanel-style-center .nav-tabs > li.active > a:hover,
.css-help-center .label.label-primary,
.css-help-center .label.label-primary,
.css-help-center .star-rating .caption .label,
.css-help-center .tparrows.preview5:hover,
.css-help-center .table-style-4.table-withmaincolor thead tr th,
.css-help-center .table-style-5.table-withmaincolor thead tr th,
.css-help-center .table-style-6.table-withmaincolor thead tr th,
.css-help-center .table-style-6.table-withmaincolor.table-striped > tbody > tr:nth-of-type(odd):hover,
.css-help-center .table-style-7.table-withmaincolor thead tr th,
.css-help-center .table-style-7.table-withmaincolor tbody tr:last-child th,
.css-help-center .table-style-7.table-withmaincolor tbody tr:last-child td,
.css-help-center .table-withmaincolor.table-hover > tbody > tr:hover,
.css-help-center .table-style-2.table-withmaincolor thead tr th,
.css-help-center .table-style-3.table-withmaincolor thead tr th,
.css-help-center .table-style-3.table-withmaincolor tbody tr th,
.css-help-center .parallax-withmaincolor,
.css-help-center .contact-overlay-map .minimize-form:hover,
.css-help-center .team-3:hover .team-social,
.css-help-center .team-5:hover .team-social,
.css-help-center .special-table-2,
.css-help-center .special-table-3,
.css-help-center span.pricing-3-discount,
.css-help-center #vertical-timeline-container:before,
.css-help-center .subscribe-fancy-themebg,
.css-help-center .empty-cart,
.css-help-center .team-4:hover .team-social,
.css-help-center .content-divider-colored,
.css-help-center .content-divider-colored-bg,
.css-help-center .withmainbackground,
.css-help-center .services-2-heading,
.css-help-center .icon-box-2-effect-4 .icon-block-2,
.css-help-center .services-2-heading,
.css-help-center .promotion-box-theme-colored,
.css-help-center .promotion-box-theme-colored .promotion-box-title h4,
.css-help-center .icon-block-2,
.css-help-center .icon-box-2-effect-2:hover .icon-block-2,
.css-help-center .icon-box-2-effect-3 .icon-block-2:after,
.css-help-center .icon-box-2-effect-4 .icon-block-2:after,
.css-help-center .icon-box-2-effect-6 .icon-block-2,
.css-help-center .icon-box-2-effect-6:hover .icon-block-2,
.css-help-center .simple-icon-icon,
.css-help-center a.call-to-action-link:hover,
.css-help-center .add-to-cart-form .count-input .count-plus,
.css-help-center .add-to-cart-form .count-input .count-minus,
.css-help-center .tabpanel-style-5 .nav-tabs > li > a:active,
.css-help-center .tabpanel-style-5 .nav-tabs > li.active > a:focus,
.css-help-center .tabpanel-style-5 .nav-tabs > li.active > a,
.css-help-center .tabpanel-style-5 .nav-tabs > li.active > a:active,
.css-help-center .tabpanel-style-6 .nav-tabs > li > a:active,
.css-help-center .tabpanel-style-6 .nav-tabs > li.active > a:focus,
.css-help-center .tabpanel-style-6 .nav-tabs > li.active > a,
.css-help-center .tabpanel-style-6 .nav-tabs > li.active > a:active,
.css-help-center .special-price-box,
.css-help-center .dropdown-menu > .active > a,
.css-help-center .dropdown-menu > .active > a:focus,
.css-help-center .dropdown-menu > .active > a:hover,
.css-help-center #header.main-color-nav .navbar-2,
.css-help-center .latest-post-data,
.css-help-center .blog-single-post .bsp-heading h1,
.css-help-center .testimonial-single .slick-dots li button:before,
.css-help-center .slick-dots li button:before,
.css-help-center .blog-list > article.default-post .blog-post-2 .bp2-category,
.css-help-center .timeline-complete .timeline-status.timeline-active:before,
.css-help-center .megamenu.maincolor,
.css-help-center .dropdown.maincolor ul,
.css-help-center .dropdown.maincolor ul.dropdown-menu,
.css-help-center #footer.maincolor,
.css-help-center #copyrights.maincolor,
.css-help-center .no-touch .cd-horizontal-timeline .events a:hover::after,
.css-help-center .cd-horizontal-timeline .events a.selected::after,
.css-help-center .cd-horizontal-timeline .filling-line,
.css-help-center .pinpulsebox span,
.css-help-center .main-color-dropdown .megamenu,
.css-help-center .main-color-dropdown .dropdown-menu,
.css-help-center #cd-timeline::before,
.css-help-center ul.icon-list.il-main-bg li [class^="icon-"],
.css-help-center .process-steps ul li.current a .number,
.css-help-center ol.ordered-list.ol-main-bg li:before,
.css-help-center .irs-bar,
.css-help-center .irs-from,
.css-help-center .irs-to,
.css-help-center .irs-single,
.css-help-center .open > .dropdown-toggle.btn-default,
.css-help-center .fc-unthemed .fc-today,
.css-help-center .fc-content,
.css-help-center #particles-js,
.css-help-center .s-icon:hover,
.css-help-center #progressbar li.active:before,
.css-help-center #progressbar li.active:after,
.css-help-center .pagination > .active > a,
.css-help-center .pagination > .active > a:focus,
.css-help-center .pagination > .active > a:hover,
.css-help-center .pagination > .active > span,
.css-help-center .pagination > .active > span:focus,
.css-help-center .pagination > .active > span:hover,
.css-help-center .portfolio-filter .selecter-item.activeFilter,
.css-help-center .page-loader-spinner span,
.css-help-center .loader-6:before,
.css-help-center .loader-2,
.css-help-center .loader-2:before,
.css-help-center .loader-2:after,
.css-help-center .loader-10 > div, 
.css-help-center .loader-11 > div,
.css-help-center .loader-13 > div:first-child, 
.css-help-center .loader-14 > div, 
.css-help-center .loader-16 > div, 
.css-help-center .loader-17 > div, 
.css-help-center .loader-17 > div:before, 
.css-help-center .loader-17 > div:after, 
.css-help-center .loader-18 > div, 
.css-help-center .loader-19 > div, 
.css-help-center .loader-20 > div, 
.css-help-center .loader-22 > div, 
.css-help-center .loader-23 > div, 
.css-help-center .loader-24 > div, 
.css-help-center .loader-25 > div, 
.css-help-center .loader-26 > div, 
.css-help-center .loader-27 > div, 
.css-help-center .loader-28 > div, 
.css-help-center .loader-29 > div, 
.css-help-center .loader-32 > div, 
.css-help-center .loader-33 > div, 
.css-help-center .loader-35 > div:nth-child(3), 
.css-help-center .loader-35 > div:nth-child(4), 
.css-help-center .loader-35 > div:nth-child(5),
.css-help-center .loader-35 > div:nth-child(6), 
.css-help-center .loader-37 > div, 
.css-help-center .loader-38 > div,
.css-help-center .checkbox input[type=checkbox]:checked + .checkbox-material .check, 
.css-help-center .radio input[type=radio]:checked ~ .check, 
.css-help-center .vlt-btn-group .dropdown-menu li a:hover, 
.css-help-center .gsi-step-indicator.triangle li.current>*, 
.css-help-center .gsi-style-4 li.current>*, 
.css-help-center .gsi-style-5 li.current>*, 
.css-help-center .gsi-style-6 li.current>* .number, 
.css-help-center .gsi-style-7 li.current:hover>*, 
.css-help-center .gsi-style-8 li.visited>*, 
.css-help-center .gsi-style-8 li.current>*, 
.css-help-center .gsi-style-9 li.visited>*:after, 
.css-help-center .gsi-style-9 li.current>*:after, 
.css-help-center .gsi-style-10 li.visited>*:after, 
.css-help-center .gsi-style-10 li.current>*:after, 
.css-help-center .gsi-style-11 li.current:before, 
.css-help-center .gsi-style-11 li.current:after, 
.css-help-center .gsi-style-11 li.visited:before, 
.css-help-center .gsi-style-11 li.visited:after, 
.css-help-center .gsi-style-11 li.visited>*:after, 
.css-help-center .gsi-style-11 li.current>*:after, 
.css-help-center .flatpickr-day.today:focus, 
.css-help-center .flatpickr-day.today:hover  {
  background-color: #8bc34a !important;
}

.css-help-center .header-content .phone-number span,
.css-help-center .intro-block h6,
.css-help-center .icon-block [class^="icon-"],
.css-help-center ul.header-links li a:hover,
.css-help-center .navbar.banner--clone .nav > li > a:hover,
.css-help-center .navbar.banner--clone .btn-search:hover,
.css-help-center .success-lg:hover [class^="icon-"],
.css-help-center #copyrights ul li a:hover,
.css-help-center #copyrights a:hover,
.css-help-center .breadcrumb > .active,
.css-help-center #portfolio-filter li a.activeFilter,
.css-help-center #portfolio-filter li a:hover,
.css-help-center .item-text-wrapper_normal .portfolio-item-title a:hover,
.css-help-center a.image_zoom:hover [class^="icon-"],
.css-help-center a.image_link:hover [class^="icon-"],
.css-help-center a.load-more-btn:hover,
.css-help-center a.load-more-btn:hover [class^="icon-"],
.css-help-center .intro-block h1 [class^="icon-"],
.css-help-center .shop-list .shop-product h4 a:hover,
.css-help-center ul#portfolio-layout-filter li a.active,
.css-help-center .item-text-wrapper_normal .portfolio-item-category a:hover,
.css-help-center ul.sidebar-shop-cat > li span,
.css-help-center .shop-price,
.css-help-center ul.sidebar-shop-cat > li > a:hover,
.css-help-center a.load-more-btn:hover,
.css-help-center a.load-more-btn:hover [class^="icon-"],
.css-help-center .intro-block h1 [class^="icon-"],
.css-help-center .shop-list .shop-product h4 a:hover,
.css-help-center ul#portfolio-layout-filter li a.active,
.css-help-center .item-text-wrapper_normal .portfolio-item-category a:hover,
.css-help-center ul.sidebar-cat > li span,
.css-help-center .shop-price,
.css-help-center ul.sidebar-cat > li > a:hover,
.css-help-center ul.jobs-list li [class^="icon-"],
.css-help-center .team-social a:hover,
.css-help-center .icon-default,
.css-help-center .error-page-icon span [class^="icon-"],
.css-help-center .footer-3-container-text a:hover,
.css-help-center .testimonials-box .testimonial-author,
.css-help-center #page-title.image-page-title-fullwidth h1,
.css-help-center #page-title.image-page-title-left.image-page-noimage h2,
.css-help-center ul.services-2-icons,
.css-help-center ul.shop-layout-filter li a.active,
.css-help-center ul.portfolio-layout-filter li a.active,
.css-help-center ul.porfolio-project-details-list > li .ppd-right,
.css-help-center ul.porfolio-project-details-list > li .ppd-right a:hover,
.css-help-center .related-projects-title .slick-custom-next:hover,
.css-help-center .related-projects-title .slick-custom-prev:hover,
.css-help-center .recent-post-content a:hover,
.css-help-center .form-group.login-form-submit a,
.css-help-center .shop-type-1 a.add-to-cart-item:before,
.css-help-center .shop-type-2 a.add-to-cart-item:before,
.css-help-center a.form-forgotpass,
.css-help-center .sidebar-shop-products-list li .ssp-title:hover,
.css-help-center .restaurant-info ul li [class^="icon-"],
.css-help-center .navbar-default.default .btn-cart .header-cart-count,
.css-help-center .cart-shop-products-list li .csp-title:hover,
.css-help-center .blog-list > article .blog-desc h4 a:hover,
.css-help-center .blog-list > article .blog-desc h4 a:focus,
.css-help-center .blog-list-full > article .blog-desc h4 a:hover,
.css-help-center .blog-list-full > article .blog-desc h4 a:focus,
.css-help-center .blog-list > article .blog-desc .blog-desc-details a:hover,
.css-help-center .blog-list > article .blog-desc .blog-desc-details a:focus,
.css-help-center .blog-list-full > article .blog-desc .blog-desc-details a:hover,
.css-help-center .blog-list-full > article .blog-desc .blog-desc-details a:focus,
.css-help-center .single-post > article .blog-desc .blog-desc-details a:hover,
.css-help-center .single-post > article .blog-desc .blog-desc-details a:focus,
.css-help-center .blog-list > article .blog-desc .btn-breadmore:hover,
.css-help-center .blog-list > article .blog-desc .btn-breadmore:focus,
.css-help-center .blog-list-full > article .blog-desc .btn-breadmore:hover,
.css-help-center .blog-list-full > article .blog-desc .btn-breadmore:focus,
.css-help-center .blog-masonry > article .blog-desc h4 a:hover,
.css-help-center .blog-masonry > article .blog-desc h4 a:focus,
.css-help-center .blog-masonry > article .blog-desc .blog-desc-details a:hover,
.css-help-center .blog-masonry > article .blog-desc .blog-desc-details a:focus,
.css-help-center .comment_response .media h6 a,
.css-help-center .comment_response .media_cloud a.reply_link,
.css-help-center .tabpanel-style-1 .nav-tabs > li.active > a:focus,
.css-help-center .tabpanel-style-1 .nav-tabs > li.active > a:hover,
.css-help-center .tabpanel-style-3 .nav-tabs > li.active > a,
.css-help-center .tabpanel-style-3 .nav-tabs > li.active > a:focus,
.css-help-center .tabpanel-style-3 .nav-tabs > li.active > a:hover,
.css-help-center .dropcap.dropcap-style-1,
.css-help-center .icon-box.icon-square.icon-fill:hover .icon-block [class^="icon-"],
.css-help-center .icon-box.icon-circle.icon-fill:hover .icon-block [class^="icon-"],
.css-help-center .counter-box .count-icon,
.css-help-center .icon-type,
.css-help-center .icon-type.it-main-color,
.css-help-center .icon-type.it-main-color-reverse:hover,
.css-help-center .icon-type.it-main-color-reverse:focus,
.css-help-center .shop-single-page .review_response .review-title .shop-star-rating li.full-star,
.css-help-center .comment_response .media h6 a,
.css-help-center .comment_response .media_cloud a.reply_link,
.css-help-center .tabpanel-style-1 .nav-tabs > li.active > a:focus,
.css-help-center .tabpanel-style-1 .nav-tabs > li.active > a:hover,
.css-help-center .tabpanel-style-3 .nav-tabs > li.active > a,
.css-help-center .tabpanel-style-3 .nav-tabs > li.active > a:focus,
.css-help-center .tabpanel-style-3 .nav-tabs > li.active > a:hover,
.css-help-center .dropcap.dropcap-style-1,
.css-help-center .btn-default-reverse,
.css-help-center .icon-box.icon-square.icon-fill:hover .icon-block [class^="icon-"],
.css-help-center .icon-box.icon-circle.icon-fill:hover .icon-block [class^="icon-"],
.css-help-center .counter-box .count-icon,
.css-help-center .icon-type,
.css-help-center .icon-type.it-main-color,
.css-help-center .icon-type.it-main-color-reverse:hover [class^="icon-"],
.css-help-center .icon-type.it-main-color-reverse:focus,
.css-help-center .shop-single-page .review_response .review-title .shop-star-rating li.full-star,
.css-help-center .review_response .media h6 a,
.css-help-center .review_response .media_cloud .shop-star-rating li.full-star,
.css-help-center .rating-container .rating-stars,
.css-help-center .form-contact small,
.css-help-center ul.icon-list li a:hover,
.css-help-center ul.icon-list li a:active,
.css-help-center ul.icon-list li a:focus,
.css-help-center .checkout-sum,
.css-help-center .checkout-table td a:hover,
.css-help-center .checkout-box a,
.css-help-center .user-profile-list ul li a:hover,
.css-help-center a.profile-active,
.css-help-center .user-profile-content h2,
.css-help-center .forum-content-header span a,
.css-help-center .recent-work-content a:hover,
.css-help-center .recent-work-image-content a:hover,
.css-help-center .contact-overlay-map .maximize-form:hover,
.css-help-center .hero-slier-nav-content:hover [class^="icon-"],
.css-help-center .selected .hero-slier-nav-content [class^="icon-"],
.css-help-center .team-social a:hover,
.css-help-center .team-name h5 a:hover,
.css-help-center .clients-slick-nav .slick-custom-next:hover,
.css-help-center .clients-slick-nav .slick-custom-prev:hover,
.css-help-center .services-pricing-icon [class^="icon-"],
.css-help-center .brand [class^="icon-"],
.css-help-center .content-divider-colored [class^="icon-"],
.css-help-center .divider-content h1 span,
.css-help-center .divider-content h2 span,
.css-help-center .divider-content h3 span,
.css-help-center .intro-page-content a:hover,
.css-help-center .image-box-content a:hover,
.css-help-center .icon-type.it-main-color [class^="icon-"],
.css-help-center .icon-type-2:hover p,
.css-help-center .icon-type-2:hover span.icon-type-2-icon,
.css-help-center .heading-container .head-colored,
.css-help-center ul.home-6-list li h4 [class^="icon-"],
.css-help-center .icon-box-2-effect-1:hover .icon-block-2,
.css-help-center .icon-box-2-effect-3-reverse:hover .icon-block-2,
.css-help-center .icon-box-2-effect-4:hover .icon-block-2,
.css-help-center .icon-box-2-effect-4-reverse .icon-block-2,
.css-help-center .icon-box-2-effect-5:hover .icon-block-2,
.css-help-center .simple-icon-lightbg [class^="icon-"],
.css-help-center .newsletter-signup button,
.css-help-center a.add-to-wishlist.select,
.css-help-center a.add-to-wishlist.select [class^="icon-"],
.css-help-center .accordion-style-1 .panel-default > .panel-heading .panel-title a:hover,
.css-help-center .panel-body ul li a:hover,
.css-help-center .colored,
.css-help-center .tabpanel-style-7 .nav-tabs > li.active > a,
.css-help-center .tabpanel-style-6 .nav-tabs > li > a,
.css-help-center .tabpanel-style-8 .nav-tabs > li.active > a,
.css-help-center .tp_caption_big span,
.css-help-center ul.icon-box-simple li:hover a,
.css-help-center .testimonials-slick-nav .slick-testimonial-prev:hover [class^="icon-"],
.css-help-center .testimonials-slick-nav .slick-testimonial-next:hover [class^="icon-"],
.css-help-center .clients-slick-nav .slick-clients-prev:hover [class^="icon-"],
.css-help-center .clients-slick-nav .slick-clients-next:hover [class^="icon-"],
.css-help-center .blockquote-author p,
.css-help-center .testimonial-author,
.css-help-center .latest-post-content h1 a:hover,
.css-help-center .post-by a:hover,
.css-help-center .latest-post-content .read-more-link,
.css-help-center .blog-horizontal .bh-content h3 a:hover,
.css-help-center .blog-horizontal .bh-content .bh-details a:hover,
.css-help-center .blog-horizontal .bh-content .bh-details a:hover span,
.css-help-center a.bsp-title:hover,
.css-help-center .sidebar-blog-post-list li .sbp-title:hover,
.css-help-center .navbar-nav > li.active,
.css-help-center .navbar-nav > li.active:hover,
.css-help-center a.idb-social:hover,
.css-help-center a.idb-social:hover span,
.css-help-center a.idb-price,
.css-help-center span.pts-raised,
.css-help-center .bsp-social a:hover,
.css-help-center .bsp-social a [class^="icon-"]:hover,
.css-help-center a.bsp-more:hover,
.css-help-center .blog-list > article .blog-image-box .video-play-icon:focus [class^="icon-"],
.css-help-center .blog-list > article .blog-post-2 .bp2-desc h4 a:hover,
.css-help-center .blog-list > article .blog-post-2 .bp2-desc h4 a:focus,
.css-help-center .blog-list > article .blog-post-2 .bp2-desc .blog-desc-details a:hover,
.css-help-center .blog-list > article .blog-post-2 .bp2-desc .blog-desc-details a:focus,
.css-help-center .gallery-block .gallery-box .gallery-meta a:hover,
.css-help-center .gallery-block .gallery-box .gallery-meta a:focus,
.css-help-center .cd-timeline-inner-content a:hover,
.css-help-center .testimonial-box .testimonial-author span,
.css-help-center .fic-date a:hover,
.css-help-center .forum-inner-content h1 a:hover,
.css-help-center .user-profile-desc a:hover,
.css-help-center .cd-timeline-navigation a:hover::after,
.css-help-center .login-form .login-input-box [class^="icon-"],
.css-help-center .icon-input-box [class^="icon-"],
.css-help-center ul.icon-list.il-no-border.il-main-bg li [class^="icon-"],
.css-help-center ul.bar-chart-graph li,
.css-help-center ul.line-graph li,
.css-help-center ul.donut-graph li,
.css-help-center .tp-caption.Creative-SubTitle,
.css-help-center .Creative-SubTitle,
.css-help-center .tp-caption.vlt-hero-rotating,
.css-help-center .pagination > li > a:focus,
.css-help-center .pagination > li > a:hover,
.css-help-center .pagination > li > span:focus,
.css-help-center .pagination > li > span:hover,
.css-help-center .pager li > a,
.css-help-center ul.recent-post-widget .rp-post a:hover,
.css-help-center .tp-tab.selected span.tp-tab-title span,
.css-help-center .tp-tab.selected span.tp-tab-title,
.css-help-center .zeus .tp-tab.selected:hover .tp-tab-title,
.css-help-center .tp-main-color,
.css-help-center .loader-5,
.css-help-center .loader-7,
.css-help-center .loader-9,
.css-help-center .loader-2,
.css-help-center .loader-4,
.css-help-center .gsi-style-9 li.visited>*, 
.css-help-center .gsi-style-9 li.current>*,
.css-help-center .item-text-wrapper_normal .portfolio-item-title a:hover, 
.css-help-center .item-text-wrapper_normal .portfolio-item-category a:hover {
  color: #8bc34a !important;
}

.css-help-center .tp-caption .btn-default,
.css-help-center .btn-default,
.css-help-center .flex-control-paging li a.flex-active,
.css-help-center .flexslider.clients .flex-control-paging li a.flex-active,
.css-help-center .pagination-box .pager li a,
.css-help-center .contact-info-3,
.css-help-center .tags-cloud-list li a:hover,
.css-help-center .team-social a:hover,
.css-help-center .contact-title-one h3:after,
.css-help-center .home-title-one h3:after,
.css-help-center #login-form .login-input:active,
.css-help-center #login-form .login-input:focus,
.css-help-center .load-more-wrapper a.load-more-btn:hover,
.css-help-center #register-form .register-input:active,
.css-help-center #register-form .register-input:focus,
.css-help-center .dropcap.dropcap-style-1,
.css-help-center .dropcap.dropcap-style-2,
.css-help-center .alert-default,
.css-help-center blockquote,
.css-help-center .tp-caption .btn-default,
.css-help-center .btn-default,
.css-help-center .btn-default-reverse,
.css-help-center .icon-box.icon-square .icon-block,
.css-help-center .icon-box.icon-circle .icon-block,
.css-help-center .icon-type.it-main-color,
.css-help-center .icon-type.it-main-color:hover,
.css-help-center .icon-type.it-main-color:focus,
.css-help-center .icon-type.it-main-color-reverse,
.css-help-center .icon-type.it-main-color-reverse:hover,
.css-help-center .icon-type.it-main-color-reverse:focus,
.css-help-center .add-to-cart-form .count-input .count-plus:hover,
.css-help-center .add-to-cart-form .count-input .count-minus:hover,
.css-help-center #reviewmodal .modal-header,
.css-help-center .job-left-title h3,
.css-help-center .pricing-table-container.special-price-table,
.css-help-center .clients-slick-nav .slick-custom-next:hover,
.css-help-center .clients-slick-nav .slick-custom-prev:hover,
.css-help-center a.add-to-wishlist.select,
.css-help-center a.add-to-wishlist.select [class^="icon-"],
.css-help-center .tabpanel-style-8 .nav-tabs > li.active,
.css-help-center a.btn-default.btn-animation-icon-box,
.css-help-center .btn-default.btn-animation-icon-box:hover,
.css-help-center .btn-default.btn-animation-icon-box:focus,
.css-help-center .btn-default.btn-animation-icon-box:active,
.css-help-center .tp-caption a.btn-default.btn-animation-icon-box,
.css-help-center .tp-caption .btn-default.btn-animation-icon-box:hover,
.css-help-center .tp-caption .btn-default.btn-animation-icon-box:focus,
.css-help-center .tp-caption .btn-default.btn-animation-icon-box:active,
.css-help-center .testimonials-slick-nav .slick-testimonial-prev:hover,
.css-help-center .testimonials-slick-nav .slick-testimonial-next:hover,
.css-help-center .clients-slick-nav .slick-clients-prev:hover,
.css-help-center .clients-slick-nav .slick-clients-next:hover,
.css-help-center .bsp-image,
.css-help-center .blog-list > article.default-post .blog-desc,
.css-help-center .testimonial-single li.slick-active button::before,
.css-help-center .slick-dots li.slick-active button:before,
.css-help-center .blog-list > article.default-post .blog-post-2 .bp2-desc,
.css-help-center .blog-list > article .blog-desc .btn-breadmore:hover,
.css-help-center .blog-list > article .blog-desc .btn-breadmore:focus,
.css-help-center .timeline-status.timeline-active:before,
.css-help-center .cd-horizontal-timeline .events a.older-event::after,
.css-help-center .cd-horizontal-timeline .events a.selected::after,
.css-help-center .no-touch .cd-horizontal-timeline .events a:hover::after,
.css-help-center .no-touch .cd-timeline-navigation a:hover,
.css-help-center .cd-bg-image:hover .video-play-icon [class^="icon-"],
.css-help-center .cd-timeline-navigation a:hover,
.css-help-center .tabpanel-style-1 .nav-tabs > li.active > a,
.css-help-center .tabpanel-style-1 .nav-tabs > li.active > a:focus,
.css-help-center .tabpanel-style-1 .nav-tabs > li.active > a:hover,
.css-help-center .login-form input:focus,
.css-help-center .pinpulse,
.css-help-center .open > .dropdown-toggle.btn-default,
.css-help-center .pagination > .active > a,
.css-help-center .pagination > .active > a:focus,
.css-help-center .pagination > .active > a:hover,
.css-help-center .pagination > .active > span,
.css-help-center .pagination > .active > span:focus,
.css-help-center .pagination > .active > span:hover,
.css-help-center .table-style-1 thead tr th,
.css-help-center .table-style-1 tbody tr:last-child th,
.css-help-center .table-style-1 tbody tr:last-child td,
.css-help-center .table-withmaincolor thead tr th,
.css-help-center .clients-title-border h3,
.css-help-center .cd-slider-nav li:hover,
.css-help-center .selected,
.css-help-center .job-form input:focus,
.css-help-center .job-form select:focus,
.css-help-center .job-form textarea:focus,
.css-help-center .form-contact input:focus,
.css-help-center .form-contact select:focus,
.css-help-center .form-contact textarea:focus,
.css-help-center .form-contact input:focus,
.css-help-center .icon-type-2:hover p,
.css-help-center .icon-type-2:hover span.icon-type-2-icon,
.css-help-center .icon-type-2:hover span.icon-type-2-icon [class^="icon-"],
.css-help-center .activeFilter,
.css-help-center .loader-30 > div, 
.css-help-center .loader-31 > div, 
.css-help-center .loader-35 > div:first-of-type, 
.css-help-center .loader-35 > div:nth-child(2),
.css-help-center .loader-12 > div,
.css-help-center .loader-15 > div,
.css-help-center .loader-21 > div,
.css-help-center .radio input[type=radio]:checked ~ .circle, 
.css-help-center .gsi-step-indicator.triangle li.current>*, 
.css-help-center .gsi-style-7.border-right li.current>*, 
.css-help-center .gsi-style-7.border-bottom li.current>*, 
.css-help-center .gsi-style-7.border-left li.current>*, 
.css-help-center .flatpickr-day.today, 
.css-help-center .flatpickr-day.today:focus, 
.css-help-center .flatpickr-day.today:hover {
    border-color:  #8bc34a;
}

.css-help-center .tabpanel-style-4 .nav-tabs > li.active,
.css-help-center .tabpanel-style-4 .nav-tabs > li.active > span,
.css-help-center .tabpanel-style-5 .nav-tabs > li.active,
.css-help-center .tabpanel-style-5 .nav-tabs > li.active > span {
  border-color: #8bc34a transparent;
}

.css-help-center .icon-box-2-effect-3 .icon-block-2 {
  box-shadow: 0 0 0 3px #8bc34a;
}

.css-help-center .icon-box-2-effect-4 .icon-block-2,
.css-help-center .icon-box-2-effect-5 .icon-block-2,
.css-help-center .icon-box-2-effect-5:hover .icon-block-2,
.css-help-center .icon-box-2-effect-1 .icon-block-2:after,
.css-help-center .icon-box-2-effect-2 .icon-block-2:after {
  box-shadow: 0 0 0 4px #8bc34a;
}

.css-help-center .icon-box-2-effect-6 .icon-block-2:after {
  box-shadow: 0 0 0 2px #8bc34a;
}

.css-help-center .empty-cart:after, .css-help-center .loader-34 > div  {
  border-bottom-color: #8bc34a;
}

.css-help-center .btn-default-reverse:hover,
.css-help-center .btn-default-reverse:focus {
  background-color: #8bc34a !important;
  border-color: #8bc34a !important;
}

.css-help-center .tp-caption .btn-default.active,
.css-help-center .btn-default.active,
.css-help-center .tp-caption .btn-default.focus,
.css-help-center .btn-default.focus,
.css-help-center .tp-caption .btn-default:active,
.css-help-center .btn-default:active,
.css-help-center .tp-caption .btn-default:focus,
.css-help-center .btn-default:focus,
.css-help-center .tp-caption .btn-default:hover,
.css-help-center .btn-default:hover,
.css-help-center .tp-caption .btn-white:hover,
.css-help-center .btn-white:hover {
  background-color: #80ba3d !important;
  border-color: #80ba3d !important;
}

.css-help-center .metis .tp-tab.selected .tp-tab-divider {
  border-right-color: #8bc34a;
}

.css-help-center #header.header-white .navbar-2 .navbar-nav > li > a:before,
.css-help-center #header.header-dark .navbar-2 .navbar-nav > li > a:before,
.css-help-center #header.header-white-transparent .navbar-2 .navbar-nav > li > a:before,
.css-help-center #header.header-dark-transparent .navbar-2 .navbar-nav > li > a:before,
.css-help-center #header.header-white-sticky .navbar-2 .navbar-nav > li > a:before,
.css-help-center #header.header-dark-sticky .navbar-2 .navbar-nav > li > a:before,
.css-help-center #header.header-white-transparent-sticky .navbar-2 .navbar-nav > li > a:before,
.css-help-center #header.header-dark-transparent-sticky .navbar-2 .navbar-nav > li > a:before {
  background-color: #8bc34a;
}

.css-help-center #header.header-main-color .navbar-2 .navbar-nav > li > a:before,
.css-help-center #header.header-main-color-sticky .navbar-2 .navbar-nav > li > a:before,
.css-help-center span.latest-post-month,
.css-help-center .main-color-dropdown .dropdown-menu .dropdown-menu,
.css-help-center .main-color-dropdown .dropdown-menu .dropdown-menu .dropdown-menu {
  background-color: #80ba3d;
}

.css-help-center #header.header-white .navbar-2 .search-navbar .btn-search:hover,
.css-help-center #header.header-white .navbar-2 .search-navbar .btn-cart:hover,
.css-help-center #header.header-dark .navbar-2 .search-navbar .btn-search:hover,
.css-help-center #header.header-dark .navbar-2 .search-navbar .btn-cart:hover,
.css-help-center #header.header-white-transparent .navbar-2 .search-navbar .btn-search:hover,
.css-help-center #header.header-white-transparent .navbar-2 .search-navbar .btn-cart:hover,
.css-help-center #header.header-dark-transparent .navbar-2 .search-navbar .btn-search:hover,
.css-help-center #header.header-dark-transparent .navbar-2 .search-navbar .btn-cart:hover,
.css-help-center #header.header-dark-sticky.header-sticky .navbar-2 .search-navbar .btn-search:hover,
.css-help-center #header.header-dark-sticky.header-sticky .navbar-2 .search-navbar .btn-cart:hover,
.css-help-center #header.header-white-transparent-sticky.header-sticky .navbar-2 .search-navbar .btn-search:hover,
.css-help-center #header.header-white-transparent-sticky.header-sticky .navbar-2 .search-navbar .btn-cart:hover,
.css-help-center #header.header-dark-transparent-sticky.header-sticky .navbar-2 .search-navbar .btn-search:hover,
.css-help-center #header.header-dark-transparent-sticky.header-sticky .navbar-2 .search-navbar .btn-cart:hover,
.css-help-center #header.header-main-color .navbar-2 .search-navbar .btn-search:hover,
.css-help-center #header.header-main-color .navbar-2 .search-navbar .btn-cart:hover,
.css-help-center #header.header-main-color-sticky.header-sticky .navbar-2 .search-navbar .btn-search:hover,
.css-help-center #header.header-main-color-sticky.header-sticky .navbar-2 .search-navbar .btn-cart:hover {
  background: #80ba3d;
  border-color: #80ba3d;
}

.css-help-center #header.header-main-color .navbar-2 .navbar-nav > li.active,
.css-help-center #header.main-color-nav .navbar-2 .navbar-nav > .active > a {
  background-color: #80ba3d;
}

.css-help-center .background-1 .counter-style-1 .counter-box h4 {
  color: #ffffff !important;
}
.css-help-center .gsi-style-4 li.current>* .number:before{
  border-left-color: #8bc34a;
}
.css-help-center .gsi-style-7.border-top li.current>*{
  border-top-color: #8bc34a;
}
.css-help-center .item-text-wrapper,
.css-help-center .standard_hover .portfolio_overlay,
.css-help-center .overlay-animation-1 .overlay_box,
.css-help-center .overlay-animation-2 .overlay_box,
.css-help-center .flip-hover .flip-box .content-box,
.css-help-center .team-8 .team-image .overlay-team-box,
.css-help-center .team-9 .team-image .overlay-team-box,
.css-help-center .portfolio-animation-slide .sliding-content {
  background-color: rgba(139, 195, 74, 0.9);
}

.css-help-center .table-style-5.table-withmaincolor tbody tr td:nth-child(2),
.css-help-center .team-2 .overlay-team-box,
.css-help-center .team-6 .overlay-team-box,
.css-help-center .team-7 .overlay-team-box,
.css-help-center .table-style-6.table-withmaincolor.table-striped > tbody > tr:nth-of-type(odd),
.css-help-center .contact-overlay-map .overlay-map-background,
.css-help-center .table-style-7.table-withmaincolor.table-striped > tbody > tr:nth-of-type(odd),
.css-help-center .table-style-7.table-withmaincolor tbody tr th,
.css-help-center .table-style-2.table-withmaincolor tbody tr,
.css-help-center .fc-bgevent,
.css-help-center #particles-js.background-1 {
  background-color: rgba(139, 195, 74, 0.6) !important;
}

.css-help-center .widget-dribbble-box .shots li a:hover:before, .css-help-center .dribbble-box .shots li a:hover:before,
.css-help-center .instagram-widget a:hover:before {
  background-color: rgba(139, 195, 74, 0.85);
}

.css-help-center .search-popup-box,
.css-help-center .scroll-to-top-fixed {
  background-color: rgba(139, 195, 74, 0.95);
}

.css-help-center .loader-3 {
  border-top-color: rgba(139, 195, 74, 0.2);
  border-right-color: rgba(139, 195, 74, 0.2);
  border-bottom-color: rgba(139, 195, 74, 0.2);
  border-left-color: #8bc34a;
}

.css-help-center .icon-box.icon-fill:hover .icon-block,
.css-help-center .icon-box.icon-fill:hover .icon-block [class^="icon-"] {
  background-color: transparent !important;
}

.css-help-center .cart-shop-products h3, .css-help-center .cart-shop-products .total-bottom-cart .total-cart-price span,
.css-help-center .cart-shop-products-list li .csp-price, .css-help-center .sidebar-shop-products-list li .ssp-price,
.css-help-center .sidebar-shop-products-list li .shop-star-rating li.full-star, .css-help-center .shop-list .shop-product .shop-star-rating li.full-star,
.css-help-center ul.shop-star-rating li.full-star {
  color: #f3565d;
}

.css-help-center .shop-list .shop-product .shop-ribbon, .css-help-center .ui-slider-horizontal .ui-slider-range,
.css-help-center .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary, .css-help-center .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
  background: #f3565d;
}
.css-help-center .loader-13 > div:last-child, 
.css-help-center .loader-15 > div:last-child {
  border-color: #8bc34a transparent;
}
.css-help-center .loader-36 > div{
  background-image: -webkit-linear-gradient(transparent 0%, transparent 70%, #8bc34a 30%, #8bc34a 100%);
    background-image: linear-gradient(transparent 0%, transparent 70%, #8bc34a 30%, #8bc34a 100%);
}