/* Lawyer */
body.css-lawyer,
.css-lawyer p,
.css-lawyer h1,
.css-lawyer h2,
.css-lawyer h3,
.css-lawyer h4,
.css-lawyer h5,
.css-lawyer h6,
.css-lawyer .featured-content h1.small,
.css-lawyer .form-group > label,
.css-lawyer .checkbox > label,
.css-lawyer .alert > p,
.css-lawyer .block-content-wrapper h2,
.css-lawyer .intro-text h1, .intro-text h2,
.css-lawyer .intro-text h3, .intro-text h4,
.css-lawyer .intro-text h5, .intro-text h6,
.css-lawyer .restaurant-info-img-content h4,
.css-lawyer .contact-title h3 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.css-lawyer h1, .css-lawyer h2, .css-lawyer h3, .css-lawyer h4, .css-lawyer h5, .css-lawyer h6 {
  font-family: robotoslab, sans-serif;
  font-style: normal;
}

.css-lawyer .color-1 {
  color: #0a6e9f!important;
}

.css-lawyer .background-1,
.css-lawyer .animation-box.background-1:hover .animation-box-style-2.background-1:hover,
.css-lawyer .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-background-1,
.css-lawyer .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-background-1, a.brand-modern span.line-1 {
  background-color: #0a6e9f !important;
}

.css-lawyer .color-2 {
  color: #de5727!important;
}

.css-lawyer .background-2,
.css-lawyer .animation-box.background-2:hover .animation-box-style-2.background-2:hover,
.css-lawyer .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-background-2,
.css-lawyer .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-background-2, a.brand-modern span.line-2 {
  background-color: #de5727;
}

.css-lawyer .color-3 {
  color: #3c4253!important;
}

.css-lawyer .background-3,
.css-lawyer .animation-box.background-3:hover .animation-box-style-2.background-3:hover,
.css-lawyer .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-background-3,
.css-lawyer .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-background-3, a.brand-modern span.line-3 {
  background-color: #3c4253;
}

.css-lawyer .call-to-action {
  background-color: transparent !important;
}

.css-lawyer .tp-caption .btn-default,
.css-lawyer .btn-default,
.css-lawyer .flex-control-paging li a.flex-active,
.css-lawyer .navbar-toggle,
.css-lawyer #mobile-navbar,
.css-lawyer .offscreen-container,
.css-lawyer .maincolor-background,
.css-lawyer ul.widget-ul li a > span,
.css-lawyer ul.widget-social li a:hover,
.css-lawyer #people .item .info,
.css-lawyer .main-color,
.css-lawyer .flexslider.clients .flex-control-paging li a.flex-active,
.css-lawyer #portfolio-filter li a:after,
.css-lawyer .navbar.banner--clone .nav li.active > a,
.css-lawyer .pagination-box .pager li a,
.css-lawyer .pricing-table-column.special-price-table .pricing-table-head,
.css-lawyer .pricing-table-column.special-price-table .pricing-table-content,
.css-lawyer .shop-list .shop-product .shop-button-box .addtocart-button,
.css-lawyer .tags-cloud-list li a:hover,
.css-lawyer .progress-bar-box .progress-bar,
.css-lawyer .background-1,
.css-lawyer .selecter .selecter-item:hover,
.css-lawyer .selecter .selecter-item.selected:hover,
.css-lawyer #footer.colored,
.css-lawyer section.about-counter,
.css-lawyer .error-page-title:after,
.css-lawyer .tabpanel-style-4 .nav-tabs > li.active > a,
.css-lawyer .tabpanel-style-4 .nav-tabs > li > a:hover,
.css-lawyer .tabpanel-style-4 .nav-tabs > li.active > a:focus,
.css-lawyer .tabpanel-style-4 .nav-tabs > li.active > a:hover,
.css-lawyer .tabpanel-style-4 .tab-content h3:after,
.css-lawyer .about-classic-column-themecolor,
.css-lawyer .selecter .selecter-item:hover,
.css-lawyer .selecter .selecter-item.selected:hover,
.css-lawyer .item-text-wrapper_overlay,
.css-lawyer .tabpanel-style-sidenav ul.nav-tabs > li a:active,
.css-lawyer .tabpanel-style-sidenav ul.nav-tabs > li a:hover,
.css-lawyer .tabpanel-style-sidenav ul.nav-tabs > li.active a,
.css-lawyer .shop-type-2 a.add-to-cart-item,
.css-lawyer .banner--clone.banner--stick .btn-cart .header-cart-count,
.css-lawyer .navbar-2 .btn-cart .header-cart-count,
.css-lawyer .tabpanel-style-2 .nav-tabs > li.active > a,
.css-lawyer .tabpanel-style-2 .nav-tabs > li.active > a:focus,
.css-lawyer .tabpanel-style-2 .nav-tabs > li.active > a:hover,
.css-lawyer .withmaincolor .testimonials-slider .flex-control-nav li a,
.css-lawyer .withmaincolor .testimonials-slider .testimonials-slider-box .testimonial-image,
.css-lawyer .dropcap.dropcap-style-2,
.css-lawyer .alert-default,
.css-lawyer blockquote:before,
.css-lawyer blockquote:after,
.css-lawyer .tp-caption .btn-default,
.css-lawyer .btn-default,
.css-lawyer .content-title h5:before,
.css-lawyer .content-title h5:after,
.css-lawyer .icon-box.icon-fill .icon-block,
.css-lawyer .icon-box.icon-square:hover .icon-block,
.css-lawyer .icon-box.icon-circle:hover .icon-block,
.css-lawyer .icon-box.icon-square:hover .icon-block span,
.css-lawyer .icon-box.icon-circle:hover .icon-block span,
.css-lawyer .icon-type.it-main-color:hover,
.css-lawyer .icon-type.it-main-color:focus,
.css-lawyer .icon-type.it-main-color-reverse,
.css-lawyer .icon-type.it-main-color:hover span,
.css-lawyer .icon-type.it-main-color-reverse:hover span,
.css-lawyer .add-to-cart-form .count-input .count-plus:hover,
.css-lawyer .add-to-cart-form .count-input .count-minus:hover,
.css-lawyer .pricing-table-column-2.special-price-table .pricing-table-head,
.css-lawyer .pricing-table-container.special-price-table,
.css-lawyer .pricing-table-column-2.special-price-table .pricing-table-content-2,
.css-lawyer .header-white .navbar-2 .btn-cart .header-cart-count,
.css-lawyer ul.forum-list li.forum-header,
.css-lawyer .textbox-withmaincolor,
.css-lawyer .background-1,
.css-lawyer .team-member-job,
.css-lawyer .team-section .team-desc-box:before,
.css-lawyer .team-section .team-desc-box:after,
.css-lawyer .shop-categories:hover .shop-title-categories,
.css-lawyer .content-divider-colored-bg [class^="icon-"],
.css-lawyer .overlay-animation-6 .content-box,
.css-lawyer .block-content-wrapper h1,
.css-lawyer .benefits-box h1,
.css-lawyer .selecter .selecter-item:hover,
.css-lawyer .selecter .selecter-item.selected:hover,
.css-lawyer .ui-slider .ui-slider-range,
.css-lawyer #header.header-main-color,
.css-lawyer .navbar-2.banner--clone.main-color-navbar,
.css-lawyer .tabpanel-style-center .nav-tabs > li.active > a,
.css-lawyer .tabpanel-style-center1 .nav-tabs > li.active > a:focus,
.css-lawyer .tabpanel-style-center .nav-tabs > li.active > a:hover,
.css-lawyer .label.label-primary,
.css-lawyer .label.label-primary,
.css-lawyer .star-rating .caption .label,
.css-lawyer .tparrows.preview5:hover,
.css-lawyer .table-style-4.table-withmaincolor thead tr th,
.css-lawyer .table-style-5.table-withmaincolor thead tr th,
.css-lawyer .table-style-6.table-withmaincolor thead tr th,
.css-lawyer .table-style-6.table-withmaincolor.table-striped > tbody > tr:nth-of-type(odd):hover,
.css-lawyer .table-style-7.table-withmaincolor thead tr th,
.css-lawyer .table-style-7.table-withmaincolor tbody tr:last-child th,
.css-lawyer .table-style-7.table-withmaincolor tbody tr:last-child td,
.css-lawyer .table-withmaincolor.table-hover > tbody > tr:hover,
.css-lawyer .table-style-2.table-withmaincolor thead tr th,
.css-lawyer .table-style-3.table-withmaincolor thead tr th,
.css-lawyer .table-style-3.table-withmaincolor tbody tr th,
.css-lawyer .parallax-withmaincolor,
.css-lawyer .contact-overlay-map .minimize-form:hover,
.css-lawyer .team-3:hover .team-social,
.css-lawyer .team-5:hover .team-social,
.css-lawyer .special-table-2,
.css-lawyer .special-table-3,
.css-lawyer span.pricing-3-discount,
.css-lawyer #vertical-timeline-container:before,
.css-lawyer .subscribe-fancy-themebg,
.css-lawyer .empty-cart,
.css-lawyer .team-4:hover .team-social,
.css-lawyer .content-divider-colored,
.css-lawyer .content-divider-colored-bg,
.css-lawyer .withmainbackground,
.css-lawyer .services-2-heading,
.css-lawyer .icon-box-2-effect-4 .icon-block-2,
.css-lawyer .services-2-heading,
.css-lawyer .promotion-box-theme-colored,
.css-lawyer .promotion-box-theme-colored .promotion-box-title h4,
.css-lawyer .icon-block-2,
.css-lawyer .icon-box-2-effect-2:hover .icon-block-2,
.css-lawyer .icon-box-2-effect-3 .icon-block-2:after,
.css-lawyer .icon-box-2-effect-4 .icon-block-2:after,
.css-lawyer .icon-box-2-effect-6 .icon-block-2,
.css-lawyer .icon-box-2-effect-6:hover .icon-block-2,
.css-lawyer .simple-icon-icon,
.css-lawyer a.call-to-action-link:hover,
.css-lawyer .add-to-cart-form .count-input .count-plus,
.css-lawyer .add-to-cart-form .count-input .count-minus,
.css-lawyer .tabpanel-style-5 .nav-tabs > li > a:active,
.css-lawyer .tabpanel-style-5 .nav-tabs > li.active > a:focus,
.css-lawyer .tabpanel-style-5 .nav-tabs > li.active > a,
.css-lawyer .tabpanel-style-5 .nav-tabs > li.active > a:active,
.css-lawyer .tabpanel-style-6 .nav-tabs > li > a:active,
.css-lawyer .tabpanel-style-6 .nav-tabs > li.active > a:focus,
.css-lawyer .tabpanel-style-6 .nav-tabs > li.active > a,
.css-lawyer .tabpanel-style-6 .nav-tabs > li.active > a:active,
.css-lawyer .special-price-box,
.css-lawyer .dropdown-menu > .active > a,
.css-lawyer .dropdown-menu > .active > a:focus,
.css-lawyer .dropdown-menu > .active > a:hover,
.css-lawyer #header.main-color-nav .navbar-2,
.css-lawyer .latest-post-data,
.css-lawyer .blog-single-post .bsp-heading h1,
.css-lawyer .testimonial-single .slick-dots li button:before,
.css-lawyer .slick-dots li button:before,
.css-lawyer .blog-list > article.default-post .blog-post-2 .bp2-category,
.css-lawyer .timeline-complete .timeline-status.timeline-active:before,
.css-lawyer .megamenu.maincolor,
.css-lawyer .dropdown.maincolor ul,
.css-lawyer .dropdown.maincolor ul.dropdown-menu,
.css-lawyer #footer.maincolor,
.css-lawyer #copyrights.maincolor,
.css-lawyer .no-touch .cd-horizontal-timeline .events a:hover::after,
.css-lawyer .cd-horizontal-timeline .events a.selected::after,
.css-lawyer .cd-horizontal-timeline .filling-line,
.css-lawyer .pinpulsebox span,
.css-lawyer .main-color-dropdown .megamenu,
.css-lawyer .main-color-dropdown .dropdown-menu,
.css-lawyer #cd-timeline::before,
.css-lawyer ul.icon-list.il-main-bg li [class^="icon-"],
.css-lawyer .process-steps ul li.current a .number,
.css-lawyer ol.ordered-list.ol-main-bg li:before,
.css-lawyer .irs-bar,
.css-lawyer .irs-from,
.css-lawyer .irs-to,
.css-lawyer .irs-single,
.css-lawyer .open > .dropdown-toggle.btn-default,
.css-lawyer .fc-unthemed .fc-today,
.css-lawyer .fc-content,
.css-lawyer #particles-js,
.css-lawyer .s-icon:hover,
.css-lawyer #progressbar li.active:before,
.css-lawyer #progressbar li.active:after,
.css-lawyer .pagination > .active > a,
.css-lawyer .pagination > .active > a:focus,
.css-lawyer .pagination > .active > a:hover,
.css-lawyer .pagination > .active > span,
.css-lawyer .pagination > .active > span:focus,
.css-lawyer .pagination > .active > span:hover,
.css-lawyer .portfolio-filter .selecter-item.activeFilter,
.css-lawyer .page-loader-spinner span,
.css-lawyer .loader-6:before,
.css-lawyer .loader-2,
.css-lawyer .loader-2:before,
.css-lawyer .loader-2:after,
.css-lawyer .loader-10 > div, 
.css-lawyer .loader-11 > div,
.css-lawyer .loader-13 > div:first-child, 
.css-lawyer .loader-14 > div, 
.css-lawyer .loader-16 > div, 
.css-lawyer .loader-17 > div, 
.css-lawyer .loader-17 > div:before, 
.css-lawyer .loader-17 > div:after, 
.css-lawyer .loader-18 > div, 
.css-lawyer .loader-19 > div, 
.css-lawyer .loader-20 > div, 
.css-lawyer .loader-22 > div, 
.css-lawyer .loader-23 > div, 
.css-lawyer .loader-24 > div, 
.css-lawyer .loader-25 > div, 
.css-lawyer .loader-26 > div, 
.css-lawyer .loader-27 > div, 
.css-lawyer .loader-28 > div, 
.css-lawyer .loader-29 > div, 
.css-lawyer .loader-32 > div, 
.css-lawyer .loader-33 > div, 
.css-lawyer .loader-35 > div:nth-child(3), 
.css-lawyer .loader-35 > div:nth-child(4), 
.css-lawyer .loader-35 > div:nth-child(5),
.css-lawyer .loader-35 > div:nth-child(6), 
.css-lawyer .loader-37 > div, 
.css-lawyer .loader-38 > div,
.css-lawyer .checkbox input[type=checkbox]:checked + .checkbox-material .check, 
.css-lawyer .radio input[type=radio]:checked ~ .check, 
.css-lawyer .vlt-btn-group .dropdown-menu li a:hover, 
.css-lawyer .gsi-step-indicator.triangle li.current>*, 
.css-lawyer .gsi-style-4 li.current>*, 
.css-lawyer .gsi-style-5 li.current>*, 
.css-lawyer .gsi-style-6 li.current>* .number, 
.css-lawyer .gsi-style-7 li.current:hover>*, 
.css-lawyer .gsi-style-8 li.visited>*, 
.css-lawyer .gsi-style-8 li.current>*, 
.css-lawyer .gsi-style-9 li.visited>*:after, 
.css-lawyer .gsi-style-9 li.current>*:after, 
.css-lawyer .gsi-style-10 li.visited>*:after, 
.css-lawyer .gsi-style-10 li.current>*:after, 
.css-lawyer .gsi-style-11 li.current:before, 
.css-lawyer .gsi-style-11 li.current:after, 
.css-lawyer .gsi-style-11 li.visited:before, 
.css-lawyer .gsi-style-11 li.visited:after, 
.css-lawyer .gsi-style-11 li.visited>*:after, 
.css-lawyer .gsi-style-11 li.current>*:after, 
.css-lawyer .flatpickr-day.today:focus, 
.css-lawyer .flatpickr-day.today:hover {
  background-color: #0a6e9f !important;
}

.css-lawyer .header-content .phone-number span,
.css-lawyer .intro-block h6,
.css-lawyer .icon-block [class^="icon-"],
.css-lawyer ul.header-links li a:hover,
.css-lawyer .navbar.banner--clone .nav > li > a:hover,
.css-lawyer .navbar.banner--clone .btn-search:hover,
.css-lawyer .success-lg:hover [class^="icon-"],
.css-lawyer #copyrights ul li a:hover,
.css-lawyer #copyrights a:hover,
.css-lawyer .breadcrumb > .active,
.css-lawyer #portfolio-filter li a.activeFilter,
.css-lawyer #portfolio-filter li a:hover,
.css-lawyer .item-text-wrapper_normal .portfolio-item-title a:hover,
.css-lawyer a.image_zoom:hover [class^="icon-"],
.css-lawyer a.image_link:hover [class^="icon-"],
.css-lawyer a.load-more-btn:hover,
.css-lawyer a.load-more-btn:hover [class^="icon-"],
.css-lawyer .intro-block h1 [class^="icon-"],
.css-lawyer .shop-list .shop-product h4 a:hover,
.css-lawyer ul#portfolio-layout-filter li a.active,
.css-lawyer .item-text-wrapper_normal .portfolio-item-category a:hover,
.css-lawyer ul.sidebar-shop-cat > li span,
.css-lawyer .shop-price,
.css-lawyer ul.sidebar-shop-cat > li > a:hover,
.css-lawyer a.load-more-btn:hover,
.css-lawyer a.load-more-btn:hover [class^="icon-"],
.css-lawyer .intro-block h1 [class^="icon-"],
.css-lawyer .shop-list .shop-product h4 a:hover,
.css-lawyer ul#portfolio-layout-filter li a.active,
.css-lawyer .item-text-wrapper_normal .portfolio-item-category a:hover,
.css-lawyer ul.sidebar-cat > li span,
.css-lawyer .shop-price,
.css-lawyer ul.sidebar-cat > li > a:hover,
.css-lawyer ul.jobs-list li [class^="icon-"],
.css-lawyer .team-social a:hover,
.css-lawyer .icon-default,
.css-lawyer .error-page-icon span [class^="icon-"],
.css-lawyer .footer-3-container-text a:hover,
.css-lawyer .testimonials-box .testimonial-author,
.css-lawyer #page-title.image-page-title-fullwidth h1,
.css-lawyer #page-title.image-page-title-left.image-page-noimage h2,
.css-lawyer ul.services-2-icons,
.css-lawyer ul.shop-layout-filter li a.active,
.css-lawyer ul.portfolio-layout-filter li a.active,
.css-lawyer ul.porfolio-project-details-list > li .ppd-right,
.css-lawyer ul.porfolio-project-details-list > li .ppd-right a:hover,
.css-lawyer .related-projects-title .slick-custom-next:hover,
.css-lawyer .related-projects-title .slick-custom-prev:hover,
.css-lawyer .recent-post-content a:hover,
.css-lawyer .form-group.login-form-submit a,
.css-lawyer .shop-type-1 a.add-to-cart-item:before,
.css-lawyer .shop-type-2 a.add-to-cart-item:before,
.css-lawyer a.form-forgotpass,
.css-lawyer .sidebar-shop-products-list li .ssp-title:hover,
.css-lawyer .restaurant-info ul li [class^="icon-"],
.css-lawyer .navbar-default.default .btn-cart .header-cart-count,
.css-lawyer .cart-shop-products-list li .csp-title:hover,
.css-lawyer .blog-list > article .blog-desc h4 a:hover,
.css-lawyer .blog-list > article .blog-desc h4 a:focus,
.css-lawyer .blog-list-full > article .blog-desc h4 a:hover,
.css-lawyer .blog-list-full > article .blog-desc h4 a:focus,
.css-lawyer .blog-list > article .blog-desc .blog-desc-details a:hover,
.css-lawyer .blog-list > article .blog-desc .blog-desc-details a:focus,
.css-lawyer .blog-list-full > article .blog-desc .blog-desc-details a:hover,
.css-lawyer .blog-list-full > article .blog-desc .blog-desc-details a:focus,
.css-lawyer .single-post > article .blog-desc .blog-desc-details a:hover,
.css-lawyer .single-post > article .blog-desc .blog-desc-details a:focus,
.css-lawyer .blog-list > article .blog-desc .btn-breadmore:hover,
.css-lawyer .blog-list > article .blog-desc .btn-breadmore:focus,
.css-lawyer .blog-list-full > article .blog-desc .btn-breadmore:hover,
.css-lawyer .blog-list-full > article .blog-desc .btn-breadmore:focus,
.css-lawyer .blog-masonry > article .blog-desc h4 a:hover,
.css-lawyer .blog-masonry > article .blog-desc h4 a:focus,
.css-lawyer .blog-masonry > article .blog-desc .blog-desc-details a:hover,
.css-lawyer .blog-masonry > article .blog-desc .blog-desc-details a:focus,
.css-lawyer .comment_response .media h6 a,
.css-lawyer .comment_response .media_cloud a.reply_link,
.css-lawyer .tabpanel-style-1 .nav-tabs > li.active > a:focus,
.css-lawyer .tabpanel-style-1 .nav-tabs > li.active > a:hover,
.css-lawyer .tabpanel-style-3 .nav-tabs > li.active > a,
.css-lawyer .tabpanel-style-3 .nav-tabs > li.active > a:focus,
.css-lawyer .tabpanel-style-3 .nav-tabs > li.active > a:hover,
.css-lawyer .dropcap.dropcap-style-1,
.css-lawyer .icon-box.icon-square.icon-fill:hover .icon-block [class^="icon-"],
.css-lawyer .icon-box.icon-circle.icon-fill:hover .icon-block [class^="icon-"],
.css-lawyer .counter-box .count-icon,
.css-lawyer .counter-style-1 .counter-box h4,
.css-lawyer .icon-type,
.css-lawyer .icon-type.it-main-color,
.css-lawyer .icon-type.it-main-color-reverse:hover,
.css-lawyer .icon-type.it-main-color-reverse:focus,
.css-lawyer .shop-single-page .review_response .review-title .shop-star-rating li.full-star,
.css-lawyer .comment_response .media h6 a,
.css-lawyer .comment_response .media_cloud a.reply_link,
.css-lawyer .tabpanel-style-1 .nav-tabs > li.active > a:focus,
.css-lawyer .tabpanel-style-1 .nav-tabs > li.active > a:hover,
.css-lawyer .tabpanel-style-3 .nav-tabs > li.active > a,
.css-lawyer .tabpanel-style-3 .nav-tabs > li.active > a:focus,
.css-lawyer .tabpanel-style-3 .nav-tabs > li.active > a:hover,
.css-lawyer .dropcap.dropcap-style-1,
.css-lawyer .btn-default-reverse,
.css-lawyer .icon-box.icon-square.icon-fill:hover .icon-block [class^="icon-"],
.css-lawyer .icon-box.icon-circle.icon-fill:hover .icon-block [class^="icon-"],
.css-lawyer .counter-box .count-icon,
.css-lawyer .counter-style-1 .counter-box h4,
.css-lawyer .icon-type,
.css-lawyer .icon-type.it-main-color,
.css-lawyer .icon-type.it-main-color-reverse:hover [class^="icon-"],
.css-lawyer .icon-type.it-main-color-reverse:focus,
.css-lawyer .shop-single-page .review_response .review-title .shop-star-rating li.full-star,
.css-lawyer .review_response .media h6 a,
.css-lawyer .review_response .media_cloud .shop-star-rating li.full-star,
.css-lawyer .rating-container .rating-stars,
.css-lawyer .form-contact small,
.css-lawyer ul.icon-list li a:hover,
.css-lawyer ul.icon-list li a:active,
.css-lawyer ul.icon-list li a:focus,
.css-lawyer .checkout-sum,
.css-lawyer .checkout-table td a:hover,
.css-lawyer .checkout-box a,
.css-lawyer .user-profile-list ul li a:hover,
.css-lawyer a.profile-active,
.css-lawyer .user-profile-content h2,
.css-lawyer .forum-content-header span a,
.css-lawyer .recent-work-content a:hover,
.css-lawyer .recent-work-image-content a:hover,
.css-lawyer .contact-overlay-map .maximize-form:hover,
.css-lawyer .hero-slier-nav-content:hover [class^="icon-"],
.css-lawyer .selected .hero-slier-nav-content [class^="icon-"],
.css-lawyer .team-social a:hover,
.css-lawyer .team-name h5 a:hover,
.css-lawyer .clients-slick-nav .slick-custom-next:hover,
.css-lawyer .clients-slick-nav .slick-custom-prev:hover,
.css-lawyer .services-pricing-icon [class^="icon-"],
.css-lawyer .brand [class^="icon-"],
.css-lawyer .content-divider-colored [class^="icon-"],
.css-lawyer .divider-content h1 span,
.css-lawyer .divider-content h2 span,
.css-lawyer .divider-content h3 span,
.css-lawyer .intro-page-content a:hover,
.css-lawyer .image-box-content a:hover,
.css-lawyer .icon-type.it-main-color [class^="icon-"],
.css-lawyer .icon-type-2:hover p,
.css-lawyer .icon-type-2:hover span.icon-type-2-icon,
.css-lawyer .heading-container .head-colored,
.css-lawyer ul.home-6-list li h4 [class^="icon-"],
.css-lawyer .icon-box-2-effect-1:hover .icon-block-2,
.css-lawyer .icon-box-2-effect-3-reverse:hover .icon-block-2,
.css-lawyer .icon-box-2-effect-4:hover .icon-block-2,
.css-lawyer .icon-box-2-effect-4-reverse .icon-block-2,
.css-lawyer .icon-box-2-effect-5:hover .icon-block-2,
.css-lawyer .simple-icon-lightbg [class^="icon-"],
.css-lawyer .newsletter-signup button,
.css-lawyer a.add-to-wishlist.select,
.css-lawyer a.add-to-wishlist.select [class^="icon-"],
.css-lawyer .accordion-style-1 .panel-default > .panel-heading .panel-title a:hover,
.css-lawyer .panel-body ul li a:hover,
.css-lawyer .colored,
.css-lawyer .tabpanel-style-7 .nav-tabs > li.active > a,
.css-lawyer .tabpanel-style-6 .nav-tabs > li > a,
.css-lawyer .tabpanel-style-8 .nav-tabs > li.active > a,
.css-lawyer .tp_caption_big span,
.css-lawyer ul.icon-box-simple li:hover a,
.css-lawyer .testimonials-slick-nav .slick-testimonial-prev:hover [class^="icon-"],
.css-lawyer .testimonials-slick-nav .slick-testimonial-next:hover [class^="icon-"],
.css-lawyer .clients-slick-nav .slick-clients-prev:hover [class^="icon-"],
.css-lawyer .clients-slick-nav .slick-clients-next:hover [class^="icon-"],
.css-lawyer .blockquote-author p,
.css-lawyer .testimonial-author,
.css-lawyer .latest-post-content h1 a:hover,
.css-lawyer .post-by a:hover,
.css-lawyer .latest-post-content .read-more-link,
.css-lawyer .blog-horizontal .bh-content h3 a:hover,
.css-lawyer .blog-horizontal .bh-content .bh-details a:hover,
.css-lawyer .blog-horizontal .bh-content .bh-details a:hover span,
.css-lawyer a.bsp-title:hover,
.css-lawyer .sidebar-blog-post-list li .sbp-title:hover,
.css-lawyer .navbar-nav > li.active,
.css-lawyer .navbar-nav > li.active:hover,
.css-lawyer a.idb-social:hover,
.css-lawyer a.idb-social:hover span,
.css-lawyer a.idb-price,
.css-lawyer span.pts-raised,
.css-lawyer .bsp-social a:hover,
.css-lawyer .bsp-social a [class^="icon-"]:hover,
.css-lawyer a.bsp-more:hover,
.css-lawyer .blog-list > article .blog-image-box .video-play-icon:focus [class^="icon-"],
.css-lawyer .blog-list > article .blog-post-2 .bp2-desc h4 a:hover,
.css-lawyer .blog-list > article .blog-post-2 .bp2-desc h4 a:focus,
.css-lawyer .blog-list > article .blog-post-2 .bp2-desc .blog-desc-details a:hover,
.css-lawyer .blog-list > article .blog-post-2 .bp2-desc .blog-desc-details a:focus,
.css-lawyer .gallery-block .gallery-box .gallery-meta a:hover,
.css-lawyer .gallery-block .gallery-box .gallery-meta a:focus,
.css-lawyer .cd-timeline-inner-content a:hover,
.css-lawyer .testimonial-box .testimonial-author span,
.css-lawyer .fic-date a:hover,
.css-lawyer .forum-inner-content h1 a:hover,
.css-lawyer .user-profile-desc a:hover,
.css-lawyer .cd-timeline-navigation a:hover::after,
.css-lawyer .login-form .login-input-box [class^="icon-"],
.css-lawyer .icon-input-box [class^="icon-"],
.css-lawyer ul.icon-list.il-no-border.il-main-bg li [class^="icon-"],
.css-lawyer ul.bar-chart-graph li,
.css-lawyer ul.line-graph li,
.css-lawyer ul.donut-graph li,
.css-lawyer .tp-caption.Creative-SubTitle,
.css-lawyer .Creative-SubTitle,
.css-lawyer .tp-caption.vlt-hero-rotating,
.css-lawyer .pagination > li > a:focus,
.css-lawyer .pagination > li > a:hover,
.css-lawyer .pagination > li > span:focus,
.css-lawyer .pagination > li > span:hover,
.css-lawyer .pager li > a,
.css-lawyer ul.recent-post-widget .rp-post a:hover,
.css-lawyer .tp-tab.selected span.tp-tab-title span,
.css-lawyer .tp-tab.selected span.tp-tab-title,
.css-lawyer .zeus .tp-tab.selected:hover .tp-tab-title,
.css-lawyer .tp-main-color,
.css-lawyer .loader-5,
.css-lawyer .loader-7,
.css-lawyer .loader-9,
.css-lawyer .loader-2,
.css-lawyer .loader-4,
.css-lawyer .gsi-style-9 li.visited>*, 
.css-lawyer .gsi-style-9 li.current>*,
.css-lawyer .item-text-wrapper_normal .portfolio-item-title a:hover, 
.css-lawyer .item-text-wrapper_normal .portfolio-item-category a:hover {
  color: #0a6e9f !important;
}

.css-lawyer .tp-caption .btn-default,
.css-lawyer .btn-default,
.css-lawyer .flex-control-paging li a.flex-active,
.css-lawyer .flexslider.clients .flex-control-paging li a.flex-active,
.css-lawyer .pagination-box .pager li a,
.css-lawyer .contact-info-3,
.css-lawyer .tags-cloud-list li a:hover,
.css-lawyer .team-social a:hover,
.css-lawyer .contact-title-one h3:after,
.css-lawyer .home-title-one h3:after,
.css-lawyer #login-form .login-input:active,
.css-lawyer #login-form .login-input:focus,
.css-lawyer .load-more-wrapper a.load-more-btn:hover,
.css-lawyer #register-form .register-input:active,
.css-lawyer #register-form .register-input:focus,
.css-lawyer .dropcap.dropcap-style-1,
.css-lawyer .dropcap.dropcap-style-2,
.css-lawyer .alert-default,
.css-lawyer blockquote,
.css-lawyer .tp-caption .btn-default,
.css-lawyer .btn-default,
.css-lawyer .btn-default-reverse,
.css-lawyer .icon-box.icon-square .icon-block,
.css-lawyer .icon-box.icon-circle .icon-block,
.css-lawyer .icon-type.it-main-color,
.css-lawyer .icon-type.it-main-color:hover,
.css-lawyer .icon-type.it-main-color:focus,
.css-lawyer .icon-type.it-main-color-reverse,
.css-lawyer .icon-type.it-main-color-reverse:hover,
.css-lawyer .icon-type.it-main-color-reverse:focus,
.css-lawyer .add-to-cart-form .count-input .count-plus:hover,
.css-lawyer .add-to-cart-form .count-input .count-minus:hover,
.css-lawyer #reviewmodal .modal-header,
.css-lawyer .job-left-title h3,
.css-lawyer .pricing-table-container.special-price-table,
.css-lawyer .clients-slick-nav .slick-custom-next:hover,
.css-lawyer .clients-slick-nav .slick-custom-prev:hover,
.css-lawyer a.add-to-wishlist.select,
.css-lawyer a.add-to-wishlist.select [class^="icon-"],
.css-lawyer .tabpanel-style-8 .nav-tabs > li.active,
.css-lawyer a.btn-default.btn-animation-icon-box,
.css-lawyer .btn-default.btn-animation-icon-box:hover,
.css-lawyer .btn-default.btn-animation-icon-box:focus,
.css-lawyer .btn-default.btn-animation-icon-box:active,
.css-lawyer .tp-caption a.btn-default.btn-animation-icon-box,
.css-lawyer .tp-caption .btn-default.btn-animation-icon-box:hover,
.css-lawyer .tp-caption .btn-default.btn-animation-icon-box:focus,
.css-lawyer .tp-caption .btn-default.btn-animation-icon-box:active,
.css-lawyer .testimonials-slick-nav .slick-testimonial-prev:hover,
.css-lawyer .testimonials-slick-nav .slick-testimonial-next:hover,
.css-lawyer .clients-slick-nav .slick-clients-prev:hover,
.css-lawyer .clients-slick-nav .slick-clients-next:hover,
.css-lawyer .bsp-image,
.css-lawyer .blog-list > article.default-post .blog-desc,
.css-lawyer .testimonial-single li.slick-active button::before,
.css-lawyer .slick-dots li.slick-active button:before,
.css-lawyer .blog-list > article.default-post .blog-post-2 .bp2-desc,
.css-lawyer .blog-list > article .blog-desc .btn-breadmore:hover,
.css-lawyer .blog-list > article .blog-desc .btn-breadmore:focus,
.css-lawyer .timeline-status.timeline-active:before,
.css-lawyer .cd-horizontal-timeline .events a.older-event::after,
.css-lawyer .cd-horizontal-timeline .events a.selected::after,
.css-lawyer .no-touch .cd-horizontal-timeline .events a:hover::after,
.css-lawyer .no-touch .cd-timeline-navigation a:hover,
.css-lawyer .cd-bg-image:hover .video-play-icon [class^="icon-"],
.css-lawyer .cd-timeline-navigation a:hover,
.css-lawyer .tabpanel-style-1 .nav-tabs > li.active > a,
.css-lawyer .tabpanel-style-1 .nav-tabs > li.active > a:focus,
.css-lawyer .tabpanel-style-1 .nav-tabs > li.active > a:hover,
.css-lawyer .login-form input:focus,
.css-lawyer .pinpulse,
.css-lawyer .open > .dropdown-toggle.btn-default,
.css-lawyer .pagination > .active > a,
.css-lawyer .pagination > .active > a:focus,
.css-lawyer .pagination > .active > a:hover,
.css-lawyer .pagination > .active > span,
.css-lawyer .pagination > .active > span:focus,
.css-lawyer .pagination > .active > span:hover,
.css-lawyer .table-style-1 thead tr th,
.css-lawyer .table-style-1 tbody tr:last-child th,
.css-lawyer .table-style-1 tbody tr:last-child td,
.css-lawyer .table-withmaincolor thead tr th,
.css-lawyer .clients-title-border h3,
.css-lawyer .cd-slider-nav li:hover,
.css-lawyer .selected,
.css-lawyer .job-form input:focus,
.css-lawyer .job-form select:focus,
.css-lawyer .job-form textarea:focus,
.css-lawyer .form-contact input:focus,
.css-lawyer .form-contact select:focus,
.css-lawyer .form-contact textarea:focus,
.css-lawyer .form-contact input:focus,
.css-lawyer .icon-type-2:hover p,
.css-lawyer .icon-type-2:hover span.icon-type-2-icon,
.css-lawyer .icon-type-2:hover span.icon-type-2-icon [class^="icon-"],
.css-lawyer .activeFilter,
.css-lawyer .loader-30 > div, 
.css-lawyer .loader-31 > div, 
.css-lawyer .loader-35 > div:first-of-type, 
.css-lawyer .loader-35 > div:nth-child(2),
.css-lawyer .loader-12 > div,
.css-lawyer .loader-15 > div,
.css-lawyer .loader-21 > div,
.css-lawyer .radio input[type=radio]:checked ~ .circle, 
.css-lawyer .gsi-step-indicator.triangle li.current>*, 
.css-lawyer .gsi-style-7.border-right li.current>*, 
.css-lawyer .gsi-style-7.border-bottom li.current>*, 
.css-lawyer .gsi-style-7.border-left li.current>*, 
.css-lawyer .flatpickr-day.today, 
.css-lawyer .flatpickr-day.today:focus, 
.css-lawyer .flatpickr-day.today:hover {
    border-color:  #0a6e9f;
}

.css-lawyer .tabpanel-style-4 .nav-tabs > li.active,
.css-lawyer .tabpanel-style-4 .nav-tabs > li.active > span,
.css-lawyer .tabpanel-style-5 .nav-tabs > li.active,
.css-lawyer .tabpanel-style-5 .nav-tabs > li.active > span {
  border-color: #0a6e9f transparent;
}

.css-lawyer .icon-box-2-effect-3 .icon-block-2 {
  box-shadow: 0 0 0 3px #0a6e9f;
}

.css-lawyer .icon-box-2-effect-4 .icon-block-2,
.css-lawyer .icon-box-2-effect-5 .icon-block-2,
.css-lawyer .icon-box-2-effect-5:hover .icon-block-2,
.css-lawyer .icon-box-2-effect-1 .icon-block-2:after,
.css-lawyer .icon-box-2-effect-2 .icon-block-2:after {
  box-shadow: 0 0 0 4px #0a6e9f;
}

.css-lawyer .icon-box-2-effect-6 .icon-block-2:after {
  box-shadow: 0 0 0 2px #0a6e9f;
}

.css-lawyer .empty-cart:after, .css-lawyer .loader-34 > div  {
  border-bottom-color: #0a6e9f;
}

.css-lawyer .btn-default-reverse:hover,
.css-lawyer .btn-default-reverse:focus {
  background-color: #0a6e9f !important;
  border-color: #0a6e9f !important;
}

.css-lawyer .tp-caption .btn-default.active,
.css-lawyer .btn-default.active,
.css-lawyer .tp-caption .btn-default.focus,
.css-lawyer .btn-default.focus,
.css-lawyer .tp-caption .btn-default:active,
.css-lawyer .btn-default:active,
.css-lawyer .tp-caption .btn-default:focus,
.css-lawyer .btn-default:focus,
.css-lawyer .tp-caption .btn-default:hover,
.css-lawyer .btn-default:hover,
.css-lawyer .tp-caption .btn-white:hover,
.css-lawyer .btn-white:hover {
  background-color: #0b628d !important;
  border-color: #0b628d !important;
}

.css-lawyer .metis .tp-tab.selected .tp-tab-divider {
  border-right-color: #0a6e9f;
}

.css-lawyer #header.header-white .navbar-2 .navbar-nav > li > a:before,
.css-lawyer #header.header-dark .navbar-2 .navbar-nav > li > a:before,
.css-lawyer #header.header-white-transparent .navbar-2 .navbar-nav > li > a:before,
.css-lawyer #header.header-dark-transparent .navbar-2 .navbar-nav > li > a:before,
.css-lawyer #header.header-white-sticky .navbar-2 .navbar-nav > li > a:before,
.css-lawyer #header.header-dark-sticky .navbar-2 .navbar-nav > li > a:before,
.css-lawyer #header.header-white-transparent-sticky .navbar-2 .navbar-nav > li > a:before,
.css-lawyer #header.header-dark-transparent-sticky .navbar-2 .navbar-nav > li > a:before {
  background-color: #0a6e9f;
}

.css-lawyer #header.header-main-color .navbar-2 .navbar-nav > li > a:before,
.css-lawyer #header.header-main-color-sticky .navbar-2 .navbar-nav > li > a:before,
.css-lawyer span.latest-post-month,
.css-lawyer .main-color-dropdown .dropdown-menu .dropdown-menu,
.css-lawyer .main-color-dropdown .dropdown-menu .dropdown-menu .dropdown-menu {
  background-color: #0b628d;
}

.css-lawyer #header.header-white .navbar-2 .search-navbar .btn-search:hover,
.css-lawyer #header.header-white .navbar-2 .search-navbar .btn-cart:hover,
.css-lawyer #header.header-dark .navbar-2 .search-navbar .btn-search:hover,
.css-lawyer #header.header-dark .navbar-2 .search-navbar .btn-cart:hover,
.css-lawyer #header.header-white-transparent .navbar-2 .search-navbar .btn-search:hover,
.css-lawyer #header.header-white-transparent .navbar-2 .search-navbar .btn-cart:hover,
.css-lawyer #header.header-dark-transparent .navbar-2 .search-navbar .btn-search:hover,
.css-lawyer #header.header-dark-transparent .navbar-2 .search-navbar .btn-cart:hover,
.css-lawyer #header.header-dark-sticky.header-sticky .navbar-2 .search-navbar .btn-search:hover,
.css-lawyer #header.header-dark-sticky.header-sticky .navbar-2 .search-navbar .btn-cart:hover,
.css-lawyer #header.header-white-transparent-sticky.header-sticky .navbar-2 .search-navbar .btn-search:hover,
.css-lawyer #header.header-white-transparent-sticky.header-sticky .navbar-2 .search-navbar .btn-cart:hover,
.css-lawyer #header.header-dark-transparent-sticky.header-sticky .navbar-2 .search-navbar .btn-search:hover,
.css-lawyer #header.header-dark-transparent-sticky.header-sticky .navbar-2 .search-navbar .btn-cart:hover,
.css-lawyer #header.header-main-color .navbar-2 .search-navbar .btn-search:hover,
.css-lawyer #header.header-main-color .navbar-2 .search-navbar .btn-cart:hover,
.css-lawyer #header.header-main-color-sticky.header-sticky .navbar-2 .search-navbar .btn-search:hover,
.css-lawyer #header.header-main-color-sticky.header-sticky .navbar-2 .search-navbar .btn-cart:hover {
  background: #0b628d;
  border-color: #0b628d;
}

.css-lawyer #header.header-main-color .navbar-2 .navbar-nav > li.active,
.css-lawyer #header.main-color-nav .navbar-2 .navbar-nav > .active > a {
  background-color: #0b628d;
}

.css-lawyer .background-1 .counter-style-1 .counter-box h4 {
  color: #ffffff !important;
}

.css-lawyer .item-text-wrapper,
.css-lawyer .standard_hover .portfolio_overlay,
.css-lawyer .overlay-animation-1 .overlay_box,
.css-lawyer .overlay-animation-2 .overlay_box,
.css-lawyer .flip-hover .flip-box .content-box,
.css-lawyer .team-8 .team-image .overlay-team-box,
.css-lawyer .team-9 .team-image .overlay-team-box,
.css-lawyer .portfolio-animation-slide .sliding-content {
  background-color: rgba(10, 110, 159, 0.9);
}

.css-lawyer .table-style-5.table-withmaincolor tbody tr td:nth-child(2),
.css-lawyer .team-2 .overlay-team-box,
.css-lawyer .team-6 .overlay-team-box,
.css-lawyer .team-7 .overlay-team-box,
.css-lawyer .table-style-6.table-withmaincolor.table-striped > tbody > tr:nth-of-type(odd),
.css-lawyer .contact-overlay-map .overlay-map-background,
.css-lawyer .table-style-7.table-withmaincolor.table-striped > tbody > tr:nth-of-type(odd),
.css-lawyer .table-style-7.table-withmaincolor tbody tr th,
.css-lawyer .table-style-2.table-withmaincolor tbody tr,
.css-lawyer .fc-bgevent,
.css-lawyer #particles-js.background-1 {
  background-color: rgba(10, 110, 159, 0.6) !important;
}

.css-lawyer .widget-dribbble-box .shots li a:hover:before, .css-lawyer .dribbble-box .shots li a:hover:before,
.css-lawyer .instagram-widget a:hover:before {
  background-color: rgba(10, 110, 159, 0.85);
}

.css-lawyer .search-popup-box,
.css-lawyer .scroll-to-top-fixed {
  background-color: rgba(10, 110, 159, 0.95);
}

.css-lawyer .loader-3 {
  border-top-color: rgba(10, 110, 159, 0.2);
  border-right-color: rgba(10, 110, 159, 0.2);
  border-bottom-color: rgba(10, 110, 159, 0.2);
  border-left-color: #0a6e9f;
}
.css-lawyer .gsi-style-4 li.current>* .number:before{
  border-left-color: #0a6e9f;
}
.css-lawyer .gsi-style-7.border-top li.current>*{
  border-top-color: #0a6e9f;
}
.css-lawyer .background-1 .testimonial-single .slick-dots li button:before,
.css-lawyer .background-1 .slick-dots li button:before,
.css-lawyer .background-2 .testimonial-single .slick-dots li button:before,
.css-lawyer .background-2 .slick-dots li button:before,
.css-lawyer .background-3 .testimonial-single .slick-dots li button:before,
.css-lawyer .background-3 .slick-dots li button:before,
.css-lawyer .white-dots .slick-dots li button:before,
.css-lawyer .transparent-background .testimonial-single .slick-dots li button:before,
.css-lawyer .transparent-background .slick-dots li button:before {
  background-color: #ffffff !important;
}

.css-lawyer .background-1 .testimonial-single li.slick-active button:before,
.css-lawyer .background-1 li.slick-active button:before,
.css-lawyer .background-2 .testimonial-single li.slick-active button:before,
.css-lawyer .background-2 li.slick-active button:before,
.css-lawyer .background-3 .testimonial-single li.slick-active button:before,
.css-lawyer .background-3 li.slick-active button:before,
.css-lawyer .white-dots .slick-dots li.slick-active button:before {
  background-color: transparent !important;
  border-color: #ffffff !important;
}

.css-lawyer .icon-box.icon-fill:hover .icon-block,
.css-lawyer .icon-box.icon-fill:hover .icon-block [class^="icon-"] {
  background-color: transparent !important;
}

.css-lawyer .cart-shop-products h3, .css-lawyer .cart-shop-products .total-bottom-cart .total-cart-price span,
.css-lawyer .cart-shop-products-list li .csp-price, .css-lawyer .sidebar-shop-products-list li .ssp-price,
.css-lawyer .sidebar-shop-products-list li .shop-star-rating li.full-star, .css-lawyer .shop-list .shop-product .shop-star-rating li.full-star,
.css-lawyer ul.shop-star-rating li.full-star {
  color: #3c4253;
}

.css-lawyer .shop-list .shop-product .shop-ribbon, .css-lawyer .ui-slider-horizontal .ui-slider-range,
.css-lawyer .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary, .css-lawyer .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
  background: #3c4253;
}
.css-lawyer .footer-5 ul.widget-ul li a [class^="icon-"]{
  background-color: #ffffff!important;
}
.css-lawyer .background-2 .counter-style-1 .counter-box h4{
  color: #ffffff!important;
}
.css-lawyer .loader-13 > div:last-child, 
.css-lawyer .loader-15 > div:last-child {
  border-color: #0a6e9f transparent;
}
.css-lawyer .loader-36 > div{
  background-image: -webkit-linear-gradient(transparent 0%, transparent 70%, #0a6e9f 30%, #0a6e9f 100%);
    background-image: linear-gradient(transparent 0%, transparent 70%, #0a6e9f 30%, #0a6e9f 100%);
}